strong,
b {
  font-weight: 700;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #029332;
}

a:hover {
  text-decoration: underline;
}

.masthead-left_preview img,
.masthead-carousel_item .preview img,
.pluses_info .big-preview img,
.version-list_item .preview img,
.application-info_item span img,
.text-top .img img,
.text-bottom .img img,
.product-text .img img,
.catalog-item-preview_big img,
.catalog-item-preview-small_item .preview img,
.catalog-item_engine .preview img,
.preview-column a img,
.preview-column span img,
.catalog-item-equipment_in .preview img,
.product-info_in .preview img,
.big-slider-product .carousel-item img,
.small-slider-product .carousel-item img,
.img-list a img,
.list-preview span img,
.product-equipment .img img,
.version-big-item .preview img,
.material-big-item .preview img,
.certificate-item span img {
  position: fixed;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.icon-download {
  background: url(../images/sprite.png) 0px -35px;
  display: inline-block;
  width: 12px;
  height: 15px;
}

.icon-download-green {
  background: url(../images/sprite.png) -17px -35px;
  display: inline-block;
  width: 12px;
  height: 15px;
}

.icon-question {
  background: #e9e9e9;
  width: 16px;
  cursor: pointer;
  height: 16px;
  border-radius: 8px;
  color: #000;
  font-size: 10px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  line-height: 17px;
  margin: 0 0 0 5px;
  transition: all 0.12s ease-in-out;
}

.icon-question:hover {
  color: #fff;
  background: #029332;
}

.icon-fb {
  background: url(../images/sprite.png) -63px -26px;
  display: inline-block;
  width: 6px;
  height: 11px;
}

.icon-vk {
  background: url(../images/sprite.png) 0px -55px;
  display: inline-block;
  width: 13px;
  height: 7px;
}

.icon-tw {
  background: url(../images/sprite.png) -63px 0px;
  display: inline-block;
  width: 11px;
  height: 9px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  box-sizing: border-box;
  vertical-align: top;
  font-family: "Roboto", sans-serif;
}

.btn:hover {
  text-decoration: none;
}

.btn-orange {
  background: #fca000;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  line-height: 1.25;
  padding: 7px 20px 6px;
}

.btn-orange:hover {
  background: #ffbd4a;
}

.btn-white {
  color: #333;
  font-size: 14px;
  line-height: 1.25;
  border-radius: 2px;
  padding: 6px 19px 5px 20px;
  border: 1px solid #d1d1d1;
  background: #fff;
}

.btn-white:hover {
  text-decoration: underline;
}

.btn-green {
  background: #07b32d;
  color: #fff;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 2px;
  padding: 10px 40px 10px 39px;
}

.btn-green:hover {
  background: #11f643;
}

h1 {
  font: bold 36px/1.25 "Roboto", sans-serif;
  color: #fff;
  overflow: hidden;
  text-transform: uppercase;
  margin: 0 0 29px;
}

.title_h2,
h2 {
  font: 500 30px/40px "Roboto", sans-serif;
  color: #333;
  text-transform: uppercase;
  position: relative;
  padding: 0 0 29px;
  margin: 0 0 41px;
}

.title_h2:before,
h2:before,
.title_h2:after,
h2:after {
  content: '';
  bottom: 0;
  left: 0;
  width: 60px;
  height: 2px;
  background: #029332;
  position: absolute;
}

.title_h2:before,
h2:before {
  width: 100%;
  height: 1px;
  background: #eaeaea;
}

.title_h3,
h3 {
  font: 500 30px/40px "Roboto", sans-serif;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 19px;
}

.title_h4,
h4 {
  font: 500 22px/30px "Roboto", sans-serif;
  text-transform: uppercase;
  margin: 0 0 22px;
}

.title_h5,
h5 {
  font: 500 14px/20px "Roboto", sans-serif;
  margin: 0 0 14px;
  text-transform: uppercase;
}

.header-top_nav a {
  color: #333;
  font-size: 14px;
  border-bottom: 1px solid transparent;
}

.header-top_nav a:hover {
  text-decoration: none;
  border-bottom: 1px solid #333;
}

.header-top_nav .active a {
  color: #029332;
}

.header-top_nav .active a:hover {
  border-bottom: 1px solid transparent;
}

.header-top_email {
  float: right;
  color: #878787;
  margin: 1px -1px 0 0;
  font-size: 14px;
}

.header-top_email a {
  color: #029332;
  display: inline-block;
  margin: 0 0 0 7px;
}

.header-top_email a:hover {
  text-decoration: underline;
}

.header-tel_item a {
  display: block;
  line-height: 30px;
  color: #000;
  font-size: 24px;
}

.header-tel_item a:hover {
  text-decoration: none;
}

.nav-menu a {
  color: #fff;
  font-size: 16px;
  border-bottom: 1px solid transparent;
  line-height: 16px;
  display: inline-block;
}

.nav-menu a:hover {
  border-bottom: 1px solid #fff;
  text-decoration: none;
}

.nav-menu li {
  display: inline-block;
  vertical-align: top;
}

.nav-menu .active a {
  border-bottom: 1px solid #fff;
}

.link-list li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 17px;
  position: relative;
  z-index: 4;
}

.link-list li:first-child {
  margin: 0;
}

.link-list span,
.link-list a {
  font-size: 14px;
  border-bottom: 2px solid transparent;
  line-height: 66px;
  padding: 1px 2px 0;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 500;
  display: inline-block;
  color: #3ca256;
}

.link-list span:hover,
.link-list a:hover {
  color: #666;
  text-decoration: underline;
}

.link-list .active {
  border-bottom: 2px solid #08b42d;
}

.link-list .active span,
.link-list .active a {
  color: #666;
  text-decoration: none;
}

.link-list .active span:hover,
.link-list .active a:hover {
  text-decoration: none !important;
}

.link-list p {
  color: #333;
  line-height: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  z-index: 3;
}

.link-list p:after {
  background: url(../images/sprite.png) -63px -42px;
  content: '';
  display: inline-block;
  width: 10px;
  height: 6px;
  position: absolute;
  top: 18px;
  right: 20px;
}

.masthead-right_top a {
  color: #fff;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.masthead-right_top a:hover span {
  border-bottom: 1px solid transparent;
}

.masthead-right_top span {
  border-bottom: 1px solid #fff;
  display: inline-block;
}

.masthead-carousel_item .name {
  font-weight: 300;
  color: #029332;
  border-bottom: 1px solid #029332;
  display: inline-block;
  font-size: 18px;
  margin: 0 0 24px;
}

.masthead-carousel_item .name:hover {
  border-bottom: 1px solid transparent;
}

.masthead-carousel_item ul {
  border-bottom: 1px solid #eaeaea;
  padding: 0 0 11px;
  margin: 0 0 25px;
}

.masthead-carousel_item li {
  padding: 0 100px 0 0;
  margin: 0 0 16px;
  position: relative;
}

.masthead-carousel_item li span {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
}

.masthead-carousel_item .cash {
  text-transform: uppercase;
  color: #666;
  font-size: 12px;
}

.masthead-carousel_item .cash span {
  font-size: 30px;
  display: inline-block;
  margin: 0 5px;
  color: #333;
}

.pluses_in:after {
  background: #fff;
  height: 30px;
  content: '';
  left: 10px;
  right: 10px;
  bottom: -10px;
  z-index: -1;
  position: absolute;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
}

.pluses_in ul {
  counter-reset: li;
}

.pluses_in li {
  counter-increment: li;
  padding: 16px 20px 16px 60px;
  position: relative;
  color: #333;
  font-size: 14px;
  display: block;
  z-index: 5;
  cursor: pointer;
  line-height: 17px;
  border-top: 1px solid #dcdcdc;
}

.pluses_in li:hover {
  color: #029332;
}

.pluses_in li:first-child {
  border-top: none;
}

.pluses_in li:before {
  position: absolute;
  left: 20px;
  top: 17px;
  width: 40px;
  content: counter(li) ".";
  display: inline-block;
  color: #019132;
  font-weight: 500;
  font-size: 12px;
}

.pluses_in .active {
  color: #fff;
}

.pluses_in .active:hover {
  color: #fff;
}

.pluses_in .active:after {
  background: linear-gradient(to right, #019131 0%, #09c12b 100%);
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10px;
  right: -10px;
  z-index: -1;
}

.pluses_in .active:before {
  color: #fff;
}

.small-preview-list a {
  width: 25%;
  box-sizing: border-box;
  padding: 0 10px;
  display: inline-block;
  vertical-align: top;
  opacity: 1;
  transition: all 0.12s ease-in-out;
}

.small-preview-list a img {
  max-height: 70px;
  max-width: 100%;
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.small-preview-list a:hover {
  opacity: 0.2;
}

.version-list_item .label {
  color: #fdfdfd;
  font-size: 12px;
  position: absolute;
  z-index: 5;
  line-height: 20px;
  top: -10px;
  padding: 0 16px;
  left: 50%;
  transform: translateX(-50%);
}

.version-list_item .label-green {
  background: #029332;
}

.version-list_item .label-orange {
  background: #fda100;
}

.version-list_item .preview {
  display: block;
  height: 179px;
  margin: 0 0 17px;
}

.version-list_item .preview:after {
  background: #05a92d;
  width: 70px;
  height: 2px;
  left: 50%;
  margin-left: -35px;
  content: '';
  z-index: 4;
  position: absolute;
  bottom: 0;
}

.version-list_item .preview:before {
  content: '';
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #eaeaea;
}

.version-list_item a {
  background: #fff;
  display: block;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
  color: #333;
  font-size: 16px;
  padding: 0 0 18px;
}

.version-list_item a:hover {
  color: #029332;
}

.version-list_item.active .cash,
.version-list_item.active .name,
.version-list_item.active .preview {
  opacity: .2;
}

.version-list-in_style a {
  font-size: 16px;
  color: #029332;
}

.version-list-in_style a:hover {
  text-decoration: none;
}

.version-list-in_style a:hover .name {
  text-decoration: underline;
}

.version-list-in_style .cash {
  font-size: 12px;
  margin: 17px 0 8px;
  text-transform: uppercase;
  text-decoration: none !important;
  color: #666;
}

.version-list-in_style .cash span {
  font-size: 24px;
  display: inline-block;
  margin: 0 5px;
  color: #333;
}

.version-list-in_style .preview {
  margin: 0 0 19px;
}

.application-info h2 {
  color: #fff;
  margin: 0 0 51px;
}

.application-info h2:before {
  background: #029332;
}

.application-info h2:after {
  background: #2f9065;
}

.application-info_text {
  float: left;
  box-sizing: border-box;
  padding: 10px 50px 0 0;
  width: 510px;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
}

.application-info_text p {
  padding: 0 130px 0 0;
}

.content-callback .tab-menu li {
  font-size: 16px;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  position: relative;
  z-index: 5;
  margin: 0;
  padding: 25px 0 23px;
}

.content-callback .tab-menu ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content-callback_contacts span {
  color: #878787;
  display: block;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 12px;
}

.content-callback_contacts a {
  display: block;
}

.content-callback-contacts_tel a {
  color: #000;
  font-size: 36px;
  margin: 0 0 19px;
  text-decoration: none;
}

.content-callback_text ul {
  background: #fff;
  margin: 0 0 39px;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
  border: 1px solid #eaeaea;
}

.content-callback_text li {
  line-height: 20px;
  border-top: 1px solid #eaeaea;
  padding: 25px 20px 24px 69px;
  position: relative;
}

.content-callback_text li:first-child {
  border: none;
}

.content-callback_text li:after {
  background: url(../images/sprite.png) -34px -35px;
  top: 29px;
  left: 27px;
  content: '';
  display: inline-block;
  width: 14px;
  height: 10px;
  position: absolute;
}

.content-callback_text li:before {
  width: 30px;
  height: 30px;
  content: '';
  position: absolute;
  top: 19px;
  box-sizing: border-box;
  left: 19px;
  border: 2px solid #eaeaea;
  border-radius: 100%;
}

.content-callback-form_in .download-link:hover span,
.callback-popup .download-link:hover span {
  color: #008735;
}

.content_bottom-carousel p {
  color: #fff;
  min-width: 327px;
  font-weight: 500;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  float: left;
  line-height: 60px;
}

.content_bottom-carousel a {
  line-height: 60px;
  color: #fff;
  margin: 0 20px 0 0;
  display: block;
}

.catalog-nav .show-more {
  font-size: 14px;
  color: #029332;
  border-bottom: 1px dotted #029332;
  display: inline-block;
  line-height: 1;
  position: relative;
  margin: 19px 0 0;
  letter-spacing: 0.01em;
  background: none !important;
}

.catalog-nav_in li {
  border-top: 1px solid #eaeaea;
}

.catalog-nav_in a {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 20px;
  box-sizing: border-box;
  display: block;
  color: #333;
  padding: 17px 10px 12px 21px;
  position: relative;
}

.catalog-nav_in a:after {
  content: '';
  position: absolute;
  left: 0;
  top: 21px;
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 4px solid #06aa2e;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.catalog-nav_in a:hover {
  text-decoration: none;
  color: #029332;
}

.catalog-nav_in .active {
  background: linear-gradient(to right, #019131 0%, #09c12b 100%);
}

.catalog-nav_in .active a {
  text-decoration: none;
  color: #fff;
}

.catalog-nav_in .active a:after {
  display: none;
}

.crumbs ul {
  display: block;
  overflow: hidden;
  margin: 0 0 21px;
}

.crumbs div,
.crumbs li {
  float: left;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  margin: 0 31px 0 0;
}

.crumbs div:last-child,
.crumbs li:last-child {
  margin-right: 0;
}

.crumbs a {
  color: #029332;
  position: relative;
}

.crumbs a:after {
  content: '';
  position: absolute;
  top: 4px;
  right: -18px;
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 4px solid #06aa2e;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.crumbs h1 {
  line-height: 40px;
  font-size: 36px;
  color: #333;
  font-weight: 500;
  padding: 0 0 34px;
  position: relative;
}

.crumbs h1:after {
  background: #019131;
  width: 60px;
  height: 2px;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.crumbs h1:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid #eaeaea;
}

.text-top,
.text-bottom,
.product-text {
  font-size: 16px;
  line-height: 30px;
  color: #333;
}

.text-top h2,
.text-bottom h2,
.product-text h2 {
  margin: 0 0 31px;
}

.text-top h3,
.text-bottom h3,
.product-text h3 {
  font-size: 24px;
  text-align: left;
  line-height: 30px;
  position: relative;
  margin: 47px 0 30px;
  padding: 0 0 33px;
}

.text-top h3:first-child,
.text-bottom h3:first-child,
.product-text h3:first-child {
  margin-top: 0;
}

.text-top h3:before,
.text-bottom h3:before,
.product-text h3:before,
.text-top h3:after,
.text-bottom h3:after,
.product-text h3:after {
  content: '';
  bottom: 0;
  left: 0;
  width: 60px;
  height: 2px;
  background: #029332;
  position: absolute;
}

.text-top h3:before,
.text-bottom h3:before,
.product-text h3:before {
  width: 100%;
  height: 1px;
  background: #eaeaea;
}

.text-top p,
.text-bottom p,
.product-text p {
  margin: 0 0 30px;
}

.text-top li,
.text-bottom li,
.product-text li {
  position: relative;
  padding: 0 0 0 40px;
  margin: 0 0 10px;
}

.text-top li:after,
.text-bottom li:after,
.product-text li:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: inline-block;
  color: #019132;
  font-weight: 500;
  font-size: 12px;
}

.text-top ul,
.text-bottom ul,
.product-text ul {
  margin: 0 0 30px;
}

.text-top ul li,
.text-bottom ul li,
.product-text ul li {
  padding: 0 0 0 30px;
}

.text-top ul li:after,
.text-bottom ul li:after,
.product-text ul li:after {
  background: #05a92d;
  width: 6px;
  height: 6px;
  left: 1px;
  top: 11px;
}

.text-top ol,
.text-bottom ol,
.product-text ol {
  margin: 0 0 30px;
  list-style: none;
  counter-reset: li;
}

.text-top ol li,
.text-bottom ol li,
.product-text ol li {
  counter-increment: li;
}

.text-top ol li:after,
.text-bottom ol li:after,
.product-text ol li:after {
  content: "0" counter(li) ".";
}

.text-top table,
.text-bottom table,
.product-text table {
  margin: 40px 0 20px;
  width: 100%;
}

.text-top td,
.text-bottom td,
.product-text td,
.text-top th,
.text-bottom th,
.product-text th {
  font-size: 16px;
  line-height: 1.25;
  color: #333;
}

.text-top th,
.text-bottom th,
.product-text th {
  padding: 15px 30px;
  text-align: left;
  background: #e6f5e9;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 2px solid #06aa2e;
}

.text-top th:first-child,
.text-bottom th:first-child,
.product-text th:first-child {
  border-left: none;
}

.text-top th:last-child,
.text-bottom th:last-child,
.product-text th:last-child {
  border-right: none;
}

.text-top td,
.text-bottom td,
.product-text td {
  padding: 14px 30px;
  border: 1px solid #e5e5e5;
}

.text-top blockquote,
.text-bottom blockquote,
.product-text blockquote {
  padding: 20px 55px 20px 54px;
  font-size: 16px;
  line-height: 30px;
  background: #fff8ed;
  border-left: 4px solid #fda100;
  font-style: italic;
  margin: 0 0 30px;
}

.text-top .img,
.text-bottom .img,
.product-text .img {
  width: 330px;
  height: 220px;
  border: 1px solid #eaeaea;
}

.text-top .img img,
.text-bottom .img img,
.product-text .img img {
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;
}

.text-top .fl_l,
.text-bottom .fl_l,
.product-text .fl_l {
  margin: 10px 28px 18px 0;
}

.text-top .fl_r,
.text-bottom .fl_r,
.product-text .fl_r {
  margin: 10px 0 28px 18px;
}

.text-top img,
.text-bottom img,
.product-text img {
  max-width: 100%;
}

.list-documentations li,
.text-top .list-documentations li,
.text-bottom .list-documentations li,
.product-text .list-documentations li {
  width: 25%;
  float: left;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 0 30px;
  padding: 0 0 0 20px;
}

.list-documentations li:after,
.text-top .list-documentations li:after,
.text-bottom .list-documentations li:after,
.product-text .list-documentations li:after {
  display: none;
}

.list-documentations a:hover {
  text-decoration: none;
}

.list-documentations a:hover span {
  color: #029332;
}

.list-documentations a:hover p {
  text-decoration: none;
}

.list-documentations i,
.text-top .list-documentations i,
.text-bottom .list-documentations i,
.product-text .list-documentations i {
  float: left;
  margin: 0 20px 0 0;
}

.list-documentations p,
.text-top .list-documentations p,
.text-bottom .list-documentations p,
.product-text .list-documentations p {
  font-size: 16px;
  color: #029332;
  line-height: 1;
  display: inline-block;
  border-bottom: 1px solid #029332;
  margin: 0;
}

.list-documentations span,
.text-top .list-documentations span,
.text-bottom .list-documentations span,
.product-text .list-documentations span {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  color: #878787;
  display: block;
  overflow: hidden;
}

.list-documentations img,
.text-top .list-documentations img,
.text-bottom .list-documentations img,
.product-text .list-documentations img {
  display: block;
}

.catalog-item_top .name,
.catalog-item-equipment_top .name {
  color: #019332;
  display: block;
  padding: 5px 10px 0 0;
  overflow: hidden;
  font-size: 24px;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.catalog-item_top .name span,
.catalog-item-equipment_top .name span {
  border-bottom: 1px solid #019332;
  display: inline-block;
}

.catalog-item_top .name:hover span,
.catalog-item-equipment_top .name:hover span {
  border-bottom: 1px solid transparent;
}

.catalog-item_top .download-link,
.catalog-item-equipment_top .download-link {
  float: right;
  margin: 12px 0 0;
}

.catalog-item_top .download-link i,
.catalog-item-equipment_top .download-link i {
  margin: 0 15px 0 0;
  float: left;
}

.catalog-item_top .cash,
.catalog-item-equipment_top .cash {
  font-size: 12px;
  width: 27%;
  float: right;
  text-transform: uppercase;
}

.catalog-item_top .cash span,
.catalog-item-equipment_top .cash span {
  display: inline-block;
  margin: 0 5px;
  font-size: 30px;
}

.catalog-item-preview_small .title {
  font-size: 18px;
  color: #333;
  line-height: 30px;
  margin: 0 0 12px;
}

.catalog-item-preview-small_item .preview {
  height: 120px;
  background: #fff;
  border: 1px solid #eaeaea;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  margin: 0 0 7px;
}

.catalog-item-preview-small_item .preview img {
  max-width: 80%;
  max-height: 80%;
}

.catalog-item-preview-small_item .label {
  color: #fdfdfd;
  font-size: 12px;
  width: 90px;
  position: absolute;
  z-index: 5;
  line-height: 20px;
  top: 0;
  padding: 0;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.catalog-item-preview-small_item .label-green {
  background: #029332;
}

.catalog-item-preview-small_item .label-orange {
  background: #fda100;
}

.pagination .btn {
  float: left;
  width: 100px;
  margin: 0 5px 0 0;
}

.pagination .btn-next {
  margin: 0 0 0 5px;
}

.pagination {
  overflow: hidden;
}

.pagination ul {
  float: left;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
}

.pagination li {
  line-height: 40px;
  font-size: 14px;
}

.pagination a {
  color: #333;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  width: 40px;
  line-height: 38px;
  box-sizing: border-box;
  margin: 0 5px;
  text-align: center;
  height: 40px;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 2px;
}

.pagination a:hover {
  border: 1px solid #019131;
}

.pagination .disabled {
  color: #eaeaea;
  cursor: default;
}

.pagination .disabled:hover {
  border: 1px solid #eaeaea;
}

.pagination .active {
  background: #019131;
  color: #fff;
}

.pagination .active:hover {
  background: #019131;
  color: #fff;
}

.catalog-item_engine .preview {
  background: #fff;
  height: 190px;
  display: block;
  margin: 14px 0 5px;
}

.catalog-item_engine .preview img {
  max-width: 80%;
  max-height: 80%;
}

.catalog-item_engine span {
  display: block;
}

.catalog-item_engine:hover {
  text-decoration: none;
}

.catalog-item_engine .name {
  margin: 0 19px 5px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  display: inline-block;
  text-decoration: underline;
}

.catalog-item_engine .name:hover {
  text-decoration: none;
}

.catalog-item_engine .param {
  margin: 0 19px 5px;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

.preview-column a,
.preview-column span {
  position: relative;
  display: block;
  height: 290px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  margin: 0 0 20px;
}

.preview-column a img,
.preview-column span img {
  max-width: 80%;
  max-height: 80%;
}

.catalog-item-equipment_top .cash {
  width: auto;
  color: #666;
}

.catalog-item-equipment_top .cash span {
  color: #333;
}

.catalog-item-equipment_top .name {
  white-space: normal;
  line-height: 30px;
  padding: 3px 10px 0 0;
}

.catalog-item-equipment_top .name span {
  display: inline;
}

.catalog-item-equipment_in .preview {
  width: 280px;
  height: 220px;
  display: block;
  float: left;
  margin: 0 28px 0 0;
}

.catalog-item-equipment_in .preview img {
  max-width: 80%;
  max-height: 80%;
}

.catalog-item-equipment_in .text {
  padding: 10px 0 0;
  font-size: 16px;
  line-height: 30px;
  color: #333;
}

.product-info .crumbs h1 {
  margin: 0 0 20px;
}

.product-info_in .preview {
  width: 45%;
  float: left;
  height: 380px;
  margin: 33px 5% 0 0;
}

.product-info_in .preview img {
  max-width: 100%;
  max-height: 100%;
}

.product_in .download-link {
  margin: 0 0 17px -3px;
}

.product_in .cash {
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1px solid #eaeaea;
  color: #666;
  padding: 0 0 31px;
  margin: 0 0 33px;
}

.product_in .cash span {
  margin: 0 5px;
  display: inline-block;
  font-size: 48px;
  color: #333;
}

.product_in ul {
  color: #333;
  font-size: 18px;
  line-height: 25px;
  margin: 0 0 32px;
}

.product_in ul span {
  width: 179px;
  position: absolute;
  top: 0;
  right: 0;
}

.product_in li {
  position: relative;
  padding: 0 190px 0 0;
  margin: 0 0 16px;
}

.product_in .btn {
  width: 100%;
}

.download-link_green {
  color: #008735;
  margin: 12px 0 0;
}

.download-link_green i {
  margin: 0 15px 0 0;
  float: left;
}

.download-link_green span {
  color: #333;
}

.download-link_green:hover span {
  color: #008735;
}

.download-link {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 16px;
}

.product-more-info .tab-menu ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #333;
  font-size: 16px;
  line-height: 20px;
}

.product-more-info .tab-menu li {
  position: relative;
  z-index: 5;
  margin: 0;
  cursor: pointer;
  padding: 0 0 22px;
  margin: 0;
  &:after{
    display: none;
  }
}

.product-more-info .tab-menu .active {
  color: #08b42d;
  border-bottom: 2px solid #08b42d;
}

.product-more-info_item table {
  table-layout: fixed;
  width: 100%;
}

.product-more-info_item td {
  color: #333;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  font-size: 14px;
  line-height: 20px;
  vertical-align: top;
  width: 50%;
  padding: 16px 0 14px 20px;
}

.product-more-info_item td:first-child {
  padding-left: 0;
  border-left: none;
}

.product-more-info_item td:last-child {
  border-right: none;
}

.product-more-info-item_top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  color: #333;
  padding: 0 0 19px;
  font-size: 18px;
  font-weight: 500;
  vertical-align: middle;
  border-bottom: 1px solid #08b42d;
}

.product-more-info-item_top i {
  vertical-align: middle;
  margin: 0 25px 0 0;
  height: 30px;
  line-height: 25px;
}

.product-more-info-item_top img {
  vertical-align: middle;
}

.product-in_bottom i {
  border-top: 5px solid #fda100;
  width: 0;
  height: 0;
  margin: 9px auto 0;
  display: block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.product-more-info_item {
  .glyphicon-star {
    color: #fda100;
    margin-right: 2px;
    font-size: 20px;

  }
}

.container-info_preview .preview {
  width: 91%;
  margin: 33px 0 0;
  text-align: center;
}

.container-info_preview .preview img {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}

.container-info_item .title {
  color: #333;
  font-size: 18px;
  line-height: 30px;
  padding: 18px 40px 21px;
}

.container-info_left h4 {
  padding-right: 20px;
}

.container-info_in .active .accordion-title {
  padding: 0 0 0 40px;
}

.container-info_in .accordion-title {
  padding: 0 0 0 40px;
  overflow: hidden;
  position: relative;
}

.container-info_in .accordion-title i {
  position: absolute;
  top: 0;
  left: 1px;
  color: #029332;
  font-size: 12px;
  line-height: 30px;
}

.container-info_in .accordion-title h5 {
  cursor: pointer;
  display: block;
  font-size: 16px;
  color: #333;
  line-height: 30px;
  text-transform: none;
  font-weight: 400;
  margin: 0;
}

.container-info_in .accordion-title h5 span {
  border-bottom: 1px dotted #333;
}

.container-info_in .accordion-title h5:hover {
  color: #029332;
}

.container-info_in .accordion-title h5:hover span {
  border-bottom: 1px solid #029332;
}

.container-info_in .accordion-title .checkbox {
  float: right;
  white-space: nowrap;
  width: 150px;
  margin: 7px 0 0 15px;
}

.container-info_in .accordion-title .checkbox label {
  line-height: 21px;
}

.container-info_in .accordion-title .checkbox span {
  color: #666;
  font-size: 10px;
}

.container-info_in .accordion-title .checkbox .cash,
.container-info_in .accordion-title .checkbox .plus {
  text-transform: uppercase;
  display: inline;
}

.container-info_in .accordion-title .checkbox i {
  position: static;
  color: inherit;
  text-transform: uppercase;
}

.container-info_in .accordion-title .checkbox .cash {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.container-info_in .accordion-title .checkbox .plus {
  color: #06aa2e;
  font-size: 18px;
}

.container-info_in .accordion-title .checkbox .icon {
  border: 2px solid #c9c9c9;
  margin: 0 13px 0 0;
}

.container-info_in .accordion-title .checkbox .icon:hover {
  border: 2px solid #08b42d;
}

.container-info_in .accordion-drop {
  color: #666;
  font-size: 14px;
  line-height: 30px;
  margin: 20px 0 0;
}

.container-info_in .accordion-drop p {
  margin: 0 0 20px;
  text-align: left !important;
}

.img-list a {
  vertical-align: top;
  margin: 0 20px 20px 0;
  display: inline-block;
  width: 90px;
  height: 70px;
}

.img-list a:hover {
  opacity: .2;
}

.img-list .active {
  opacity: 1;
}

.img-list .active:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #029332;
}

.img-list .active:hover {
  opacity: 1;
}

.product-result_list h5 {
  color: #333;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  margin: 0 0 16px 21px;
}

.product-result_list h5 span {
  border-bottom: 1px dotted #333;
}

.product-result_list .cash {
  margin: 15px 0 0 21px;
  font-size: 12px;
  text-transform: uppercase;
  color: #666;
}

.product-result_list .cash span {
  color: #333;
  font-size: 24px;
}

.product-result_list .accordion-title:after {
  content: '';
  position: absolute;
  right: 0;
  top: 21px;
  border-top: 5px solid #05a82e;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.product-result_list .accordion-title:hover h5 {
  color: #05a82e;
}

.product-result_list .accordion-title:hover h5 span {
  border-color: #05a82e;
}

.product-result_list .active .accordion-title:after {
  border-bottom: 5px solid #05a82e;
  border-top: none;
}

.product-result_list .accordion-item h5 {
  cursor: pointer;
  margin: 0 0 0 21px;
}

.product-result_list .accordion-item .plus,
.product-result_list .accordion-item .cash {
  display: inline;
  color: #333;
  font-size: 16px;
}

.product-result_list .accordion-item .checkbox {
  margin: 0 0 8px;
}

.product-result_list .accordion-item .checkbox label {
  line-height: 21px;
}

.product-result_list .accordion-item .checkbox span {
  color: #666;
  font-size: 12px;
  text-transform: uppercase;
}

.product-result_list .accordion-item .checkbox .cash,
.product-result_list .accordion-item .checkbox .plus {
  display: inline;
}

.product-result_list .accordion-item .checkbox .cash {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin: 0;
}

.product-result_list .accordion-item .checkbox .plus {
  color: #06aa2e;
  font-size: 18px;
}

.product-result_list .accordion-item .checkbox .icon {
  border: 2px solid #c9c9c9;
  margin: 0 9px 0 0;
}

.product-result_list .accordion-item .checkbox .icon:hover {
  border: 2px solid #08b42d;
}

.product-result_list .checkbox-list p {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 10px;
  color: #029332;
}

.product-result_list .accordion-drop > .cash {
  display: block;
  margin-top: 15px;
}

.product-result_in p {
  float: left;
  line-height: 20px;
  padding: 10px 20px 10px 0;
  color: #fff;
  width: 190px;
  font-size: 16px;
}

.product-result_in .cash {
  float: left;
  font-size: 12px;
  line-height: 30px;
  padding: 5px 0 0;
  color: #fff;
  text-transform: uppercase;
}

.product-result_in .cash span {
  font-size: 30px;
  display: inline-block;
  text-transform: none;
  margin: 0 5px 0 0;
}

.product-result_in .btn {
  float: right;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 34px;
}

.container-info_text {
  background: #fff;
  color: #666;
  font-size: 14px;
  line-height: 30px;
  padding: 9px 40px 9px;
}

.container-info_text p {
  margin: 0 0 20px;
}

.container-info_text h5 {
  font-size: 18px;
  text-transform: none;
  font-weight: 400;
  margin: 0 0 16px;
}

.container-info_text .link-group a {
  font-size: 16px;
  color: #08b42d;
  display: inline-block;
  vertical-align: top;
  margin: 0 65px 0 0;
}

.container-info_text .list-link li {
  position: relative;
  float: left;
  padding: 0 0 0 20px;
  margin: 0 0 10px 0;
  width: 24%;
  box-sizing: border-box;
}

.container-info_text .list-link li:after {
  background: #05a92d;
  position: absolute;
  content: "";
  display: inline-block;
  color: #019132;
  font-weight: 500;
  font-size: 12px;
  width: 6px;
  height: 6px;
  left: 0;
  top: 12px;
}

.container-info_text .list-link a {
  font-size: 14px;
  text-decoration: none;
  line-height: 1;
  display: inline-block;
  border-bottom: 1px solid #029332;
}

.container-info_text .list-link a:hover {
  border-bottom: 1px solid transparent;
  text-decoration: none;
}

.container-info_text .accordion-title i {
  position: absolute;
  top: 0;
  left: 1px;
  color: #029332;
  font-size: 12px;
  line-height: 30px;
}

.container-info_text .accordion-title h5 {
  cursor: pointer;
  display: block;
  font-size: 16px;
  color: #333;
  line-height: 30px;
  text-transform: none;
  font-weight: 400;
  margin: 0;
}

.container-info_text .accordion-title h5 span {
  border-bottom: 1px dotted #333;
}

.container-info_text .accordion-title h5:hover {
  color: #029332;
}

.container-info_text .accordion-title h5:hover span {
  border-bottom: 1px solid #029332;
}

.container-info_text .accordion-title .checkbox {
  float: right;
  white-space: nowrap;
  width: 128px;
  margin: 7px 0 0 15px;
}

.container-info_text .accordion-title .checkbox label {
  line-height: 21px;
}

.container-info_text .accordion-title .checkbox span {
  color: #666;
  font-size: 12px;
  text-transform: uppercase;
}

.container-info_text .accordion-title .checkbox .cash,
.container-info_text .accordion-title .checkbox .plus {
  display: inline;
}

.container-info_text .accordion-title .checkbox .cash {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.container-info_text .accordion-title .checkbox .plus {
  color: #06aa2e;
  font-size: 18px;
}

.container-info_text .accordion-title .checkbox .icon {
  border: 2px solid #c9c9c9;
  margin: 0 13px 0 0;
}

.container-info_text .accordion-title .checkbox .icon:hover {
  border: 2px solid #08b42d;
}

.container-info_text .accordion-drop {
  color: #666;
  padding-right: 10px;
  font-size: 14px;
  line-height: 30px;
  margin: 20px 0 1px;
}

.container-info_text .accordion-drop p {
  margin: 0 10px 20px 0;
}

.product-text {
  i {
    font-style: italic;
  }
}

.product-text .list-link ul{
  overflow: hidden;
}
.product-text .list-link li {
  float: left;
  padding: 0 0 0 19px;
  margin: 0 38px 20px 3px;
}

.product-text .list-link li:after {
  top: 12px;
}

.product-text .list-link a {
  font-size: 14px;
  text-decoration: none;
  line-height: 1;
  display: inline-block;
  border-bottom: 1px solid #029332;
}

.product-text .list-link a:hover {
  border-bottom: 1px solid transparent;
  text-decoration: none;
}

.product-text table {
  margin: 30px 0 20px;
}

.product-text .accordion-item {
  clear: both;
  border-top: 1px solid #eaeaea;
  padding: 10px 40px 9px 1px;
}

.product-text .accordion-title i {
  position: absolute;
  top: 0;
  left: 1px;
  color: #029332;
  font-size: 12px;
  line-height: 30px;
}

.product-text .accordion-title h5 {
  cursor: pointer;
  display: block;
  font-size: 16px;
  color: #333;
  line-height: 30px;
  text-transform: none;
  font-weight: 400;
  margin: 0;
}

.product-text .accordion-title h5 span {
  border-bottom: 1px dotted #333;
}

.product-text .accordion-title h5:hover {
  color: #029332;
}

.product-text .accordion-title h5:hover span {
  border-bottom: 1px solid #029332;
}

.product-text .accordion-title .checkbox {
  float: right;
  white-space: nowrap;
  width: 128px;
  margin: 7px 0 0 15px;
}

.product-text .accordion-title .checkbox label {
  line-height: 21px;
}

.product-text .accordion-title .checkbox span {
  color: #666;
  font-size: 12px;
  text-transform: uppercase;
}

.product-text .accordion-title .checkbox .cash,
.product-text .accordion-title .checkbox .plus {
  display: inline;
}

.product-text .accordion-title .checkbox .cash {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.product-text .accordion-title .checkbox .plus {
  color: #06aa2e;
  font-size: 18px;
}

.product-text .accordion-title .checkbox .icon {
  border: 2px solid #c9c9c9;
  margin: 0 13px 0 0;
}

.product-text .accordion-title .checkbox .icon:hover {
  border: 2px solid #08b42d;
}

.product-text .accordion-drop {
  color: #666;
  padding-right: 10px;
  font-size: 16px;
  line-height: 30px;
  margin: 20px 0 1px;
}

.list-preview a {
  width: 25%;
  box-sizing: border-box;
  float: left;
  padding: 0 20px;
  position: relative;
}

.list-preview a:after {
  background: url(../images/sprite.png) -35px 0px;
  content: '';
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 23px;
  height: 23px;
  position: absolute;
  display: none;
}

.list-preview a:hover:after {
  display: block;
}

.list-preview a:hover img {
  opacity: .1;
}

.list-preview a:hover span {
  border: 2px solid #08b42d;
}

.list-preview span {
  display: block;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  height: 180px;
}

.list-preview span img {
  max-height: 80%;
  max-width: 80%;
}

.product-equipment .img {
  background: #fff;
  width: 180px;
  height: 120px;
  margin: 0 21px 0 0;
}

.product-equipment .img img {
  max-height: 90%;
  max-width: 90%;
}

.product-equipment .accordion-title i {
  position: absolute;
  top: 0;
  left: 1px;
  color: #029332;
  font-size: 12px;
  line-height: 30px;
}

.product-equipment .accordion-title h5 {
  cursor: pointer;
  display: block;
  font-size: 16px;
  color: #333;
  line-height: 30px;
  text-transform: none;
  font-weight: 400;
  margin: 0;
}

.product-equipment .accordion-title h5 span {
  border-bottom: 1px dotted #333;
}

.product-equipment .accordion-title h5:hover {
  color: #029332;
}

.product-equipment .accordion-title h5:hover span {
  border-bottom: 1px solid #029332;
}

.product-equipment .accordion-title .checkbox {
  float: right;
  white-space: nowrap;
  width: 128px;
  margin: 7px 0 0 15px;
}

.product-equipment .accordion-title .checkbox label {
  line-height: 21px;
}

.product-equipment .accordion-title .checkbox span {
  color: #666;
  font-size: 12px;
  text-transform: uppercase;
}

.product-equipment .accordion-title .checkbox .cash,
.product-equipment .accordion-title .checkbox .plus {
  display: inline;
}

.product-equipment .accordion-title .checkbox .cash {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.product-equipment .accordion-title .checkbox .plus {
  color: #06aa2e;
  font-size: 18px;
}

.product-equipment .accordion-title .checkbox .icon {
  border: 2px solid #c9c9c9;
  margin: 0 13px 0 0;
}

.product-equipment .accordion-title .checkbox .icon:hover {
  border: 2px solid #08b42d;
}

.product-equipment .accordion-drop {
  color: #666;
  padding-right: 10px;
  font-size: 14px;
  line-height: 30px;
  margin: 20px 0 1px;
}

.product-equipment h2 {
  margin: 0 0 28px;
}

.product-equipment h3 {
  text-align: left;
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 13px;
}

.catalog-item-engine-info_in {
  font-size: 16px;
  line-height: 30px;
  color: #333;
  overflow: hidden;
  padding: 9px 0 0;
}

.catalog-item-engine-info_in .cash {
  font-size: 12px;
  text-transform: uppercase;
  color: #666;
  margin: 5px 0 17px;
}

.catalog-item-engine-info_in .cash span {
  font-size: 36px;
  color: #333;
  display: inline-block;
  margin: 0 5px 0 0;
}

.table,
.catalog-item-engine-info_in table {
  margin: 0 0 19px;
  width: 100%;
  border-top: 2px solid #08b42d;
}

.table td,
.table th,
.catalog-item-engine-info_in td,
.catalog-item-engine-info_in th {
  font-size: 14px;
  line-height: 1.25;
  color: #333;
}

.table td:first-child,
.table th:first-child,
.catalog-item-engine-info_in td:first-child,
.catalog-item-engine-info_in th:first-child {
  border-left: none;
}

.table td:last-child,
.table th:last-child,
.catalog-item-engine-info_in td:last-child,
.catalog-item-engine-info_in th:last-child {
  border-right: none;
}

.table th,
.catalog-item-engine-info_in th {
  padding: 15px 30px;
  text-align: left;
  background: #e6f5e9;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 2px solid #06aa2e;
}

.table td,
.catalog-item-engine-info_in td {
  padding: 17px 30px 15px;
  vertical-align: top;
  border: 1px solid #e5e5e5;
}

.table td:first-child,
.catalog-item-engine-info_in td:first-child {
  border-top: none;
  padding-left: 0;
}



.catalog-item-engine-info_in p {
  margin: 0 0 30px;
}

.catalog-item-engine-info_in .accordion-title i {
  position: absolute;
  top: 0;
  left: 1px;
  color: #029332;
  font-size: 12px;
  line-height: 30px;
}

.catalog-item-engine-info_in .accordion-title h5 {
  cursor: pointer;
  display: block;
  font-size: 16px;
  color: #333;
  line-height: 30px;
  text-transform: none;
  font-weight: 400;
  margin: 0;
}

.catalog-item-engine-info_in .accordion-title h5 span {
  border-bottom: 1px dotted #333;
}

.catalog-item-engine-info_in .accordion-title h5:hover {
  color: #029332;
}

.catalog-item-engine-info_in .accordion-title h5:hover span {
  border-bottom: 1px solid #029332;
}

.catalog-item-engine-info_in .accordion-title .checkbox {
  float: right;
  white-space: nowrap;
  width: 128px;
  margin: 7px 0 0 15px;
}

.catalog-item-engine-info_in .accordion-title .checkbox label {
  line-height: 21px;
}

.catalog-item-engine-info_in .accordion-title .checkbox span {
  color: #666;
  font-size: 12px;
  text-transform: uppercase;
}

.catalog-item-engine-info_in .accordion-title .checkbox .cash,
.catalog-item-engine-info_in .accordion-title .checkbox .plus {
  display: inline;
}

.catalog-item-engine-info_in .accordion-title .checkbox .cash {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.catalog-item-engine-info_in .accordion-title .checkbox .plus {
  color: #06aa2e;
  font-size: 18px;
}

.catalog-item-engine-info_in .accordion-title .checkbox .icon {
  border: 2px solid #c9c9c9;
  margin: 0 13px 0 0;
}

.catalog-item-engine-info_in .accordion-title .checkbox .icon:hover {
  border: 2px solid #08b42d;
}

.catalog-item-engine-info_in .accordion-drop {
  color: #666;
  font-size: 14px;
  line-height: 30px;
  margin: 20px 0 0;
}

.tab-title {
  display: none;
  font-size: 16px;
  line-height: 20px;
  color: #333;
  margin: -20px;
}

.tab-title span {
  position: relative;
  padding: 13px 18px 15px;
  display: inline-block;
}

.tab-title span:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  display: none;
  background: #08b42d;
}

.version-big-item .preview,
.material-big-item .preview {
  float: left;
  width: 354px;
  height: 250px;
  margin: 8px 26px 0 0;
}

.version-big-item .preview img,
.material-big-item .preview img {
  max-width: 90%;
  max-height: 95%;
}

.version-big-item .name,
.material-big-item .name {
  font-size: 24px;
  line-height: 30px;
  color: #029332;
  text-decoration: none;
  border-bottom: 1px solid #eaeaea;
  display: block;
  padding: 27px 0 30px;
  margin: 0 0 29px;
}

.version-big-item .name span,
.material-big-item .name span {
  display: inline-block;
  border-bottom: 1px solid #029332;
}

.version-big-item .name:hover span,
.material-big-item .name:hover span {
  border-bottom: 1px solid transparent;
}

.version-big-item p,
.material-big-item p {
  color: #333;
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 20px;
}

.version-big-item .list-link,
.material-big-item .list-link {
  overflow: hidden;
  margin: 0 0 20px;
  padding: 8px 0 0;
}

.version-big-item .list-link li,
.material-big-item .list-link li {
  position: relative;
  float: left;
  padding: 0 0 0 20px;
  margin: 0 40px 20px 0;
}

.version-big-item .list-link li:after,
.material-big-item .list-link li:after {
  background: #05a92d;
  position: absolute;
  content: "";
  display: inline-block;
  color: #019132;
  font-weight: 500;
  font-size: 12px;
  width: 6px;
  height: 6px;
  left: 0;
  top: 5px;
}

.version-big-item .list-link a,
.material-big-item .list-link a {
  font-size: 14px;
  text-decoration: none;
  line-height: 1;
  display: inline-block;
  border-bottom: 1px solid #029332;
}

.version-big-item .list-link a:hover,
.material-big-item .list-link a:hover {
  border-bottom: 1px solid transparent;
  text-decoration: none;
}

.material-big-item p,
.material-big-item .text {
  font-size: 16px;
  line-height: 30px;
}

.certificate-item span {
  background: #fff;
  display: block;
  height: 360px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
}

.certificate-item span img {
  max-width: 75%;
  max-height: 85%;
}

.contacts-info h3 {
  margin: 22px 0 28px;
  padding: 0 0 28px;
  text-align: left;
  position: relative;
  font-size: 24px;
}

.contacts-info h3:before,
.contacts-info h3:after {
  content: '';
  bottom: 0;
  left: 0;
  width: 60px;
  height: 2px;
  background: #029332;
  position: absolute;
}

.contacts-info h3:before {
  width: 100%;
  height: 1px;
  background: #eaeaea;
}

.contacts-top a {
  float: left;
  color: #000;
  font-size: 36px;
  line-height: 30px;
  margin: 0;
  text-decoration: none;
}

.contacts-top span {
  color: #878787;
  font-size: 16px;
  line-height: 30px;
  display: block;
  text-align: center;
  padding: 7px 20px 0 0;
  overflow: hidden;
}

.contacts-item {
  padding: 24px 0 12px;
  border-top: 1px solid #eaeaea;
  color: #333;
}

.contacts-item li {
  font-size: 14px;
  position: relative;
  padding-right: 490px;
  margin: 0 0 16px;
}

.contacts-item span {
  position: absolute;
  width: 480px;
  top: 0;
  color: #666;
  right: 0;
}

.contacts-item a {
  color: #666;
  text-decoration: none;
}

.team-info .name {
  font-size: 18px;
  color: #333;
}

.team-info .pos {
  color: #08b42d;
  margin: 0 0 21px;
}

.team-info table {
  width: 100%;
}

.team-info td {
  color: #666;
}

.team-info td:first-child {
  width: 140px;
  color: #333;
}

.country-table_top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2px 0 0;
}

.country-table_top a {
  text-decoration: underline;
  text-transform: uppercase;
}

.country-table_top a:hover {
  text-decoration: none;
}

.country-table table {
  margin: 19px 0 31px;
}

.country-table td:first-child {
  text-transform: capitalize;
}

.country-table th {
  font-weight: 700;
  color: #06aa2e;
  text-transform: uppercase;
  border: 1px solid #eaeaea !important;
}

.country-table tr:first-child td,
.country-table tr:first-child th {
  border-bottom: 2px solid #06aa2e !important;
}

.content-error_in {
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  max-width: 770px;
}

.content-error_in h1 {
  font-size: 60px;
  line-height: 80px;
  position: relative;
  padding: 0 0 22px;
  margin: 0 0 28px;
  color: #fff;
}

.content-error_in h1:before,
.content-error_in h1:after {
  content: '';
  bottom: 0;
  left: 0;
  width: 60px;
  height: 2px;
  background: #029332;
  position: absolute;
}

.content-error_in h1:before {
  width: 100%;
  height: 1px;
  background: #2f9462;
  bottom: 1px;
}

.content-error_in p {
  margin: 0 0 29px;
}

.footer_nav span,
.footer_nav a {
  color: #fff;
  padding: 24px 0 26px;
  display: inline-block;
  line-height: 20px;
  font-size: 16px;
}

.footer_nav ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer_bottom a {
  font-size: 14px;
  color: #fff;
  line-height: 50px;
}

.footer_social a {
  display: inline-block;
  vertical-align: top;
  width: 39px;
  text-align: center;
  height: 39px;
  line-height: 39px;
  border-left: 1px solid #4b5160;
}

.footer_social a:first-child {
  border: none;
}

.footer_social a:hover {
  background: #4b5160;
}

.footer_social i {
  vertical-align: middle;
}

.footer-contacts_item a {
  color: #15e139;
}

.footer-contacts_item span {
  color: #c5c5c5;
  font-size: 14px;
  display: block;
  line-height: 20px;
  margin: 0 0 4px;
}

.footer-contacts_item a {
  display: block;
}

.footer-contacts_item .tel {
  text-decoration: none;
  color: #fff;
}

.footer-contacts-item_big {
  padding: 5px 0 0;
  width: 31%;
  margin: 0;
}

.footer-contacts-item_big a {
  font-size: 24px;
}

.footer-contacts-item_big span {
  font-size: 12px;
  margin: 2px 0 0;
}

.mobile-crumbs div,
.mobile-crumbs li {
  color: #333;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
}
.crumbs > div,
.mobile-crumbs > div{
  float: none !important;
}


.mobile-crumbs a {
  display: inline-block;
  text-transform: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #029332;
  text-decoration: none;
}

.catalog-nav_rubric {
  .drop-menu {
    .active {
      & > a {
        //background: none;
      }
    }
  }
}

.catalog-nav_rubric li {
  border-top: 1px solid #eaeaea;
  background: #fff;
}

.catalog-nav_rubric li:first-child {
  border: none;
}

.catalog-nav_rubric a {
  font-size: 14px;
  color: #333;
  display: block;
  text-decoration: none;
  padding: 15px 30px 14px;
  position: relative;
  line-height: 20px;
}

.catalog-nav_rubric a:after {
  background: url(../images/sprite.png) -79px 0px;
  content: '';
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 5px;
  height: 8px;
}

.catalog-nav_rubric a:hover {
  color: #029332;
}

.catalog-nav_rubric a:hover:after {
  background: url(../images/sprite.png) -53px -35px;
  display: inline-block;
  width: 5px;
  height: 8px;
}

.catalog-nav_rubric .active > a {
  background: linear-gradient(to right, #019131 0%, #09c12b 100%);
  color: #fff;
}

.catalog-nav_rubric .active > a:after {
  background: url(../images/sprite.png) -79px -13px;
  display: inline-block;
  width: 5px;
  height: 8px;
}

.catalog-nav_rubric .active > a:hover {
  color: #fff;
}

.drop-menu .active > a {
  background: none;
  color: #039732;
}

.drop-menu .active > a:after {
  width: auto;
  background: none;
  height: auto;
}

.drop-menu .active > a:hover {
  color: #039732;
}

.drop-menu li {
  border: none;
}

.drop-menu a {
  padding: 5px 10px 5px 21px;
}

.drop-menu a:after {
  content: '--';
  font-size: 14px;
  line-height: 20px;
  color: #06ab2e;
  background: none;
  width: auto;
  height: auto;
  right: auto;
  left: 0 !important;
  border: none;
}

.drop-menu a:hover:after {
  width: auto;
  background: none;
  height: auto;
}

/*
.drop-menu .active > a:hover:after {
  width: auto;
  background: none;
  height: auto;
}*/

.content-callback .tab-menu {
  color: #333;
  line-height: 20px;
  font-size: 0;
  position: relative;
  margin: 0 0 49px;
}

.content-callback .tab-menu:after {
  content: '';
  position: absolute;
  border-bottom: 1px solid #eaeaea;
  bottom: 0;
  left: 0;
  width: 100%;
}

.content-callback .tab-menu li:first-child {
  margin: 0;
}

.content-callback .tab-menu li:hover {
  color: #08b42d;
}

.content-callback .tab-menu .active {
  border-bottom: 2px solid #08b42d;
}

.content-callback .tab-menu .active:hover {
  color: #333;
}

.masthead .download-link {
  color: #fde800;
  margin: 11px 0 0 30px;
  line-height: 16px;
  text-transform: uppercase;
  float: right;
  font-size: 12px;
}

.masthead .download-link i {
  float: left;
  margin: 0 15px 0 0;
}

.masthead .download-link span {
  color: #fff;
}

.masthead .download-link:hover {
  color: #fff;
}

.header-tel_item span {
  color: #878787;
  font-size: 12px;
}

.table {
  p {
    margin: 0;
  }
}