html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.fl_l {
  float: left;
}

.fl_r {
  float: right;
}

.center {
  overflow: hidden;
}

.tac {
  text-align: center;
}

.nav {
  list-style: none;
}

button,
textarea,
input[type="email"],
input[type="password"],
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}

img {
  height: auto;
  width: auto;
}

.bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  min-width: 100%;
  min-height: 100%;
  z-index: 3;
}

.masthead-left_preview,
.masthead-carousel_item .preview,
.pluses_info .big-preview,
.version-list_item .preview,
.application-info_item span,
.text-top .img,
.text-bottom .img,
.product-text .img,
.catalog-item-preview_big,
.catalog-item-preview-small_item .preview,
.catalog-item_engine .preview,
.preview-column a,
.preview-column span,
.catalog-item-equipment_in .preview,
.product-info_in .preview,
.big-slider-product .carousel-item,
.small-slider-product .carousel-item,
.img-list a,
.list-preview span,
.product-equipment .img,
.version-big-item .preview,
.material-big-item .preview,
.certificate-item span {
  position: relative;
  transform: scale(1);
}

.tab-item,
.carousel-item {
  display: none;
}

.tab-item:first-child,
.carousel-item:first-child {
  display: block;
}

.drop,
.hide {
  display: none;
}

* {
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
  min-width: 320px;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  z-index: 5;
  max-width: 1360px;
  box-sizing: border-box;
  padding: 0 20px;
}

.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  color: #444;
  padding: 0 !important;
  text-shadow: none;
  background: #fff;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-outer,
.fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image,
.fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
}

.fancybox-close {
  background: url(../images/sprite.png) 0px 0px;
  position: absolute;
  top: -49px;
  right: -49px;
  cursor: pointer;
  z-index: 8040;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.fancybox-close:hover {
  opacity: 0.5;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 60px;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-inner {
  -ms-touch-action: pan-y !important;
  touch-action: pan-y !important;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 36px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-nav span:hover {
  background: #029332;
}

.fancybox-nav span:hover:after {
  border-right: 5px solid #fff;
}

.fancybox-nav span:after {
  content: '';
  position: absolute;
  top: 15px;
  left: 17px;
  width: auto;
  height: auto;
  border-right: 5px solid #029332;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.fancybox-next span:after {
  border-right: none;
  border-left: 5px solid #029332;
}

.fancybox-next span:hover:after {
  border-right: none;
  border-left: 5px solid #fff;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
  overflow: visible !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: rgba(0, 0, 0, 0.9);
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
  visibility: hidden;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@keyframes tooltipster-fading {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tooltipster-rotating {
  25% {
    transform: rotate(-2deg);
  }

  75% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes tooltipster-scaling {
  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.tooltipster-fall {
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-property: top;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

.tooltipster-grow.tooltipster-show {
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transform: scale(1, 1);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

.tooltipster-base {
  display: -ms-flexbox;
  display: flex;
  pointer-events: none;
  position: absolute;
}

.tooltipster-box {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.tooltipster-content {
  box-sizing: border-box;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}

.tooltipster-ruler {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
}

.tooltipster-fade {
  opacity: 0;
  transition-property: opacity;
}

.tooltipster-fade.tooltipster-show {
  opacity: 1;
}

.tooltipster-grow {
  transform: scale(0, 0);
  transition-property: transform;
  -webkit-backface-visibility: hidden;
}

.tooltipster-swing {
  opacity: 0;
  transform: rotateZ(4deg);
  transition-property: transform;
}

.tooltipster-swing.tooltipster-show {
  opacity: 1;
  transform: rotateZ(0);
  transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
}

.tooltipster-fall.tooltipster-initial {
  top: 0 !important;
}

.tooltipster-fall.tooltipster-dying {
  transition-property: all;
  top: 0 !important;
  opacity: 0;
}

.tooltipster-slide {
  transition-property: left;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

.tooltipster-slide.tooltipster-initial {
  left: -40px !important;
}

.tooltipster-slide.tooltipster-dying {
  transition-property: all;
  left: 0 !important;
  opacity: 0;
}

.tooltipster-update-fade {
  animation: tooltipster-fading .4s;
}

.tooltipster-update-rotate {
  animation: tooltipster-rotating .6s;
}

.tooltipster-update-scale {
  animation: tooltipster-scaling .6s;
}

.tooltipster-sidetip .tooltipster-box {
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}

.tooltipster-sidetip .tooltipster-content {
  color: #333;
  line-height: 20px;
  font-size: 16px;
  padding: 13px 30px 13px 27px;
}

.tooltipster-sidetip .tooltipster-arrow {
  overflow: hidden;
  position: absolute;
}

.tooltipster-sidetip .tooltipster-arrow-background {
  height: 0;
  position: absolute;
  width: 0;
  border: 10px solid transparent;
}

.tooltipster-sidetip .tooltipster-arrow-border {
  height: 0;
  position: absolute;
  width: 0;
  border: 10px solid transparent;
  left: 0;
  top: 0;
}

.tooltipster-sidetip .tooltipster-arrow-uncropped {
  position: relative;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-box {
  margin-top: 8px;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow {
  height: 10px;
  margin-left: -10px;
  top: 0;
  width: 20px;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
  border-bottom-color: #fff;
  left: 0;
  top: 2px;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
  border-bottom-color: #eaeaea;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-uncropped {
  top: -10px;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-box {
  margin-right: 8px;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow {
  height: 20px;
  margin-top: -10px;
  right: 0;
  top: 0;
  width: 10px;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
  border-left-color: #565656;
  left: -3px;
  top: 0;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
  border-left-color: #eaeaea;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-box {
  margin-left: 8px;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow {
  height: 20px;
  margin-top: -10px;
  left: 0;
  top: 0;
  width: 10px;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {
  border-right-color: #565656;
  left: 3px;
  top: 0;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {
  border-right-color: #eaeaea;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-uncropped {
  left: -10px;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-box {
  margin-bottom: 8px;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow {
  bottom: 0;
  height: 10px;
  margin-left: -10px;
  width: 20px;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
  border-top-color: #565656;
  left: 0;
  top: -3px;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
  border-top-color: #eaeaea;
}

.header {
  overflow: hidden;
  background: #fff;
}

.header_top {
  padding: 16px 0 18px;
  border-bottom: 1px solid #e8e8e8;
}

.header-top_nav {
  float: left;
}

.header-top_nav li {
  float: left;
  margin: 0 0 0 45px;
}

.header-top_nav li:first-child {
  margin: 0;
}

.header_content {
  padding: 25px 0 28px;
}

.logo {
  color: #656565;
  font-size: 12px;
  line-height: 20px;
  float: left;
  width: 340px;
}

.logo img {
  float: left;
  margin: 7px 32px 0 2px;
}

.header_tel {
  float: right;
  margin: 1px -3px 0 0;
}

.header-tel_item {
  float: left;
  margin: 0 0 0 62px;
}

.header_button-group {
  font-size: 0;
  text-align: center;
  padding: 4px 0 0 43px;
  overflow: hidden;
}

.header_button-group .btn {
  margin: 0 10px;
}

.nav-menu {
  background: linear-gradient(to right, #019131 0%, #09c12b 100%);
  position: relative;
  z-index: 10;
  padding: 25px 0 28px;
}

.nav-menu .drop {
  background: #029332;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 240px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.nav-menu_in {
  font-size: 0;
}

.nav-menu_in ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-icon {
  background: linear-gradient(to right, #019131 0%, #09c12b 100%);
  display: none;
  line-height: 18px;
  padding: 16px 10px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}

.burger {
  width: 20px;
  height: 16px;
  float: left;
  margin: 0 20px 0 0;
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.burger svg {
  display: block;
}

.burger span {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  margin: 7px 0 0;
  border-radius: 2px;
  display: block;
  transition: transform .2s ease-out;
}

.burger span:first-child {
  margin-top: 0;
}

.burger span:last-child {
  margin-top: 14px;
}

.burger.open {
  z-index: 100;
}

.burger.open span {
  opacity: 0;
  top: 5px;
  margin: 6px 0 0;
}

.burger.open span:first-child {
  opacity: 1;
  transform: rotate(45deg);
}

.burger.open span:last-child {
  opacity: 1;
  transform: rotate(-45deg);
}

.content {
  overflow: hidden;
}

.masthead {
  position: relative;
  background: #007349;
  overflow: hidden;
  padding: 35px 0 40px;
}

.masthead:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 201px;
  background: #fff;
  display: inline-block;
  z-index: 4;
  width: 100%;
}

.masthead .bg {
  left: 0;
  top: auto;
  width: 100%;
  min-height: 1px;
  min-width: 1px;
  transform: none;
  bottom: 190px;
}

.masthead_left {
  float: left;
  width: 50%;
  height: 100%;
  .tab-menu {
    .slick-slide {
      margin: 0 10px 0 0;
    }
    div{
      display: block;
    }
    span{
      display: block;
    }
  }
  .slick-slider {
    .active {
      border-bottom: 2px solid transparent;
      span {
      }
    }
    span {
      color: #666;
    }
    .slick-current {
      li {
        border-bottom: 2px solid #08b42d;
        span {
          color: #08b42d;
        }
      }
    }
  }

  //.owl-carousel {
  //  .active {
  //    border-bottom: 2px solid transparent;
  //    span {
  //    }
  //  }
  //  span {
  //    color: #666;
  //  }
  //  .current {
  //    li {
  //      border-bottom: 2px solid #08b42d;
  //      span {
  //        color: #08b42d;
  //      }
  //    }
  //  }
  //}
  .all{
    position: absolute;
    top: 0;
    background: #fff;
    right: 0;
    padding-right: 32px;
    padding-left: 18px;
  }
  .tab-menu_in{
    margin-right: 150px;
    overflow: hidden;
  }
  .link-list{
    padding-right: 0;
  }
}

.masthead_right {
  float: right;
  width: 50%;
}

.masthead_in {
  background: #fff;
  height: 630px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
  position: relative;
}

.masthead_in:after {
  background: #fff;
  content: '';
  left: 10px;
  right: 10px;
  z-index: -1;
  height: 160px;
  position: absolute;
  bottom: -10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
}

.link-list {
  overflow: hidden;
  font-size: 0;
  padding: 0 38px 0 41px;
  white-space: nowrap;
  position: relative;
}

.link-list:after {
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  content: '';
}

.masthead-left_preview {
  height: 559px;
  box-sizing: border-box;
  border-right: 1px solid #eaeaea;
}

.masthead-right_top {
  background: #00a354;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  box-sizing: border-box;
  padding: 25px 110px 26px 41px;
}

.masthead_carousel .slick-arrow {
  position: absolute;
  top: -55px;
  right: 20px;
  font-size: 0;
  color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #25c276;
  background: none;
  box-sizing: border-box;
  cursor: pointer;
}

.masthead_carousel .slick-arrow:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 5px solid #fff;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.masthead_carousel .slick-arrow:hover {
  z-index: 5;
  border: 1px solid #fff;
}

.masthead_carousel .slick-prev {
  right: 59px;
}

.masthead_carousel .slick-prev:after {
  border-left: none;
  border-right: 5px solid #fff;
}

.masthead-carousel_item {
  overflow: hidden;
  padding: 45px 50px 35px 43px;
  display: block;
  color: #333;
  font-size: 14px;
  border-top: 1px solid #eaeaea;
}

.masthead-carousel_item:first-child {
  border-top: none;
}

.masthead-carousel_item:hover {
  text-decoration: none;
}

.masthead-carousel_item .preview {
  width: 220px;
  height: 200px;
  float: left;
  margin: -8px 47px 0 0;
}

.pluses-list {
  background: #f3f6fa url(../images/pluses-bg.jpg) no-repeat center bottom;
  background-size: 100% auto;
  position: relative;
  padding: 70px 0 0;
}

.pluses-list + .content_bottom {
  padding: 77px 0 70px;
}

.pluses_in {
  background: #fff;
  float: left;
  width: 460px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
  position: relative;
  margin: 0 50px -60px 0;
}

.pluses_info {
  padding: 0 0 60px;
}

.pluses_info .preview {
  float: left;
  width: 420px;
  margin: 0 60px 0 0;
}

.pluses_info .big-preview {
  width: 420px;
  height: 300px;
  display: block;
  margin: 0 0 20px;
}

.pluses_text {
  overflow: hidden;
  padding: 19px 0 0;
  color: #333;
  font-size: 16px;
  line-height: 30px;
}

.small-preview-list {
  font-size: 0;
  margin: 0 -10px;
}

.version-list {
  padding: 27px 0 40px;
  background: #fff;
  position: relative;
}

.version-list_in {
  padding: 0 0 20px;
}

.version-list_item {
  width: 25%;
  box-sizing: border-box;
  padding: 0 20px 20px;
  float: left;
  text-align: center;
  position: relative;
}

.application-info {
  background: linear-gradient(to top, #008935 0%, #007349 100%);
  box-sizing: border-box;
  padding: 110px 0 94px;
}

.application-info_carousel {
  overflow: hidden;
}

.application-info_carousel .slick-list {
  background: #fff;
}

.application-info_carousel .slick-dots {
  width: 100%;
  margin: 30px 0 0;
  text-align: center;
}

.application-info_carousel .slick-dots li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}

.application-info_carousel .slick-dots button {
  background: #fff;
  width: 10px;
  display: block;
  height: 10px;
  padding: 0;
  border: none;
  font-size: 0;
  color: transparent;
  cursor: pointer;
  margin: 0;
  border-radius: 5px;
}

.application-info_carousel .slick-dots .slick-active button {
  background: #fde800;
}

.application-info_carousel .carousel-item {
  position: relative;
}

.application-info_carousel .carousel-item:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: #dcdcdc;
}

.application-info_item {
  color: #878787;
  font-size: 11px;
  display: block;
  font-weight: 500;
  border-top: 1px solid #dcdcdc;
  text-align: center;
  padding: 68px 0 44px;
  height: 250px;
  box-sizing: border-box;
  line-height: 20px;
  text-transform: uppercase;
  &:hover {
    color: #029332;

  }
}

.application-info_item span {
  display: block;
  height: 80px;
  margin: 0 0 18px;
}

.application-info_item:first-child {
  border: none;
}

.application-info_item img {
  margin: 0 auto;
  display: block;
}

.content_bottom {
  padding: 30px 0 70px;
}

.content-callback {
  width: 50%;
  box-sizing: border-box;
  float: left;
  padding: 0 20px 0 0;
}

.content-callback .tab-menu ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content-callback_contacts {
  overflow: hidden;
  clear: both;
  margin: 0 0 34px;
}

.content-callback-contacts_tel {
  float: left;
  width: 330px;
  box-sizing: border-box;
  padding: 0 30px 0 0;
}

.content-callback-contacts_email {
  padding: 5px 0 0;
  overflow: hidden;
}

.content-callback_text {
  color: #656565;
  font-size: 16px;
  line-height: 30px;
}

.content-callback-form {
  overflow: hidden;
  padding: 0 20px;
}

.content-callback-form_in,
.callback-popup {
  background: #f3f6fa;
  padding: 48px 90px 60px;
  text-align: center;
}

.content-callback-form_in form,
.callback-popup form {
  text-align: left;
}

.content-callback-form_in .download-link,
.callback-popup .download-link {
  display: inline-block;
  margin: 0 0 46px;
  line-height: 17px;
}

.content-callback-form_in .download-link i,
.callback-popup .download-link i {
  float: left;
  margin: 0 15px 0 0;
}

.content-callback-form_in textarea,
.callback-popup textarea,
.content-callback-form_in input,
.callback-popup input {
  font: 16px/1.25 "Roboto", sans-serif;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  padding: 9px 18px;
  display: block;
  width: 100%;
  color: #333;
}

.content-callback-form_in textarea::-webkit-input-placeholder,
.callback-popup textarea::-webkit-input-placeholder,
.content-callback-form_in input::-webkit-input-placeholder,
.callback-popup input::-webkit-input-placeholder {
  color: #ababab;
}

.content-callback-form_in textarea::-moz-placeholder,
.callback-popup textarea::-moz-placeholder,
.content-callback-form_in input::-moz-placeholder,
.callback-popup input::-moz-placeholder {
  color: #ababab;
}

.content-callback-form_in textarea:-moz-placeholder,
.callback-popup textarea:-moz-placeholder,
.content-callback-form_in input:-moz-placeholder,
.callback-popup input:-moz-placeholder {
  color: #ababab;
}

.content-callback-form_in textarea:-ms-input-placeholder,
.callback-popup textarea:-ms-input-placeholder,
.content-callback-form_in input:-ms-input-placeholder,
.callback-popup input:-ms-input-placeholder {
  color: #ababab;
}

.content-callback-form_in textarea,
.callback-popup textarea {
  height: 190px;
  resize: none;
}

.content-callback-form_in .form-item,
.callback-popup .form-item {
  margin: 0 0 20px;
}

.content-callback-form_in .polit,
.callback-popup .polit {
  margin: 25px 0 35px;
}

.content-callback-form_in .btn-group,
.callback-popup .btn-group {
  font-size: 0;
}

.content-callback-form_in .btn-group .btn,
.callback-popup .btn-group .btn {
  display: inline-block;
  vertical-align: top;
}

.checkbox {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.checkbox label {
  font: 14px/20px "Roboto", sans-serif;
  cursor: pointer;
  color: #656565;
}

.checkbox input {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  right: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox input:checked + span:after {
  display: block;
}

.checkbox span {
  display: block;
  overflow: hidden;
}

.checkbox .icon {
  background: #fff;
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  margin: 0 20px 0 0;
  position: relative;
}

.checkbox .icon:after {
  background: url(../images/sprite.png) -63px -14px;
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 10px;
  height: 7px;
  display: none;
}

.add-file {
  margin: 0 20px 0 0;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  position: relative;
}

.add-file input {
  opacity: 0;
  position: absolute;
  bottom: 110%;
  right: 120%;
  visibility: hidden;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.add-file a {
  font: 16px/1.25 "Roboto", sans-serif;
  background: #bebebe;
  width: 260px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 2px;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  text-overflow: ellipsis;
}

.add-file a:before,
.add-file a:after {
  content: '';
  position: absolute;
  background: #fff;
  display: inline-block;
}

.add-file a:after {
  width: 2px;
  height: 10px;
  top: 15px;
  left: 24px;
}

.add-file a:before {
  top: 19px;
  left: 20px;
  width: 10px;
  height: 2px;
}

.add-file a:hover {
  background: #e4e4e4;
}

.add-file .choice {
  background: #07b32d;
}

.add-file .choice:after,
.add-file .choice:before {
  display: none;
}

.add-file .choice:hover {
  background: #11f643;
}

.content_bottom-carousel {
  background: linear-gradient(to right, #019131 0%, #09c12b 100%);
  height: 60px;
  overflow: hidden;
  font-size: 16px;
  .owl-dots {
    display: none;
  }
}

.content-bottom-carousel_in {
  overflow: hidden;
  width: auto;
  box-sizing: border-box;
  .owl-nav {
    position: absolute;
    right: 0;
    top: 10px;
    width: 80px;
    height: 40px;
  }
  li{
    display: inline-block;
    vertical-align: top;
  }
}

.carousel-wrap{
  padding: 0 110px 0 0;
  position: relative;
  overflow: hidden;
}

.content-bottom-carousel_in .owl-nav button,
.content_bottom-carousel .btn,
.content_bottom-carousel .slick-arrow {
  padding: 0;
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 0;
  color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #6ede84 !important;
  background: none;
  box-sizing: border-box;
  cursor: pointer;
}

.content-bottom-carousel_in .owl-nav button{
  top: 0;
  span{
    display: none;
  }
}

.content-bottom-carousel_in .owl-nav button:after,
.content_bottom-carousel .btn:after,
.content_bottom-carousel .slick-arrow:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 5px solid #fff;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.content-bottom-carousel_in .owl-nav button:hover,
.content_bottom-carousel .btn:hover,
.content_bottom-carousel .slick-arrow:hover {
  z-index: 5;
  border: 1px solid #fff;
}

.content-bottom-carousel_in .owl-prev ,
.content_bottom-carousel .prev ,
.content_bottom-carousel .slick-prev {
  right: 39px !important;
}

.content-bottom-carousel_in .owl-prev:after ,
.content_bottom-carousel .prev:after ,
.content_bottom-carousel .slick-prev:after {
  border-left: none !important;
  border-right: 5px solid #fff;
}

.catalog {
  overflow: hidden;
  padding: 34px 0 0;
  border-bottom: 1px solid #eaeaea;
}

.catalog-nav {
  width: 290px;
  float: left;
  margin: 6px 20px 30px 0;
}

.catalog-nav .show-more:hover {
  border-bottom: 1px solid #029332;
}

.catalog-nav .show-more:after {
  background: url(../images/sprite.png) -33px -55px;
  content: '';
  display: inline-block;
  width: 8px;
  height: 5px;
  position: absolute;
  top: 5px;
  right: -17px;
}

.catalog-nav .show-more.active:after {
  transform: rotate(180deg);
}

.catalog-nav_rubric {
  border: 1px solid #eaeaea;
  background: #f5f6f8;
  padding: 0;
  margin: 0 0 35px;
}

.catalog-nav_rubric h5 {
  margin: 14px 0 15px 30px;
}

.drop-menu {
  padding: 10px 0 9px 29px;
  a {
    &:after {
      left: 20px;
    }
  }
}

.catalog_in {
  padding: 0 0 0 331px;
}

.catalog_in .pagination {
  margin: -19px 0 50px;
}

.list-documentations,
.text-top .list-documentations,
.text-bottom .list-documentations,
.product-text .list-documentations {
  overflow: hidden;
  line-height: 30px;
}

.text-bottom,
.product-text {
  padding: 0 0 18px;
}

.catalog-list {
  margin: 0 0 50px;
}

.catalog-item {
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
  border: 1px solid #eaeaea;
  padding: 0 0 9px;
  margin: 0 0 20px;
}

.catalog-item_top,
.catalog-item-equipment_top {
  overflow: hidden;
  padding: 24px 40px 34px;
  border-bottom: 1px solid #eaeaea;
  margin: 0 0 18px;
}

.catalog-item_preview-group {
  overflow: hidden;
  padding: 0 15px;
}

.catalog-item-preview_big {
  float: left;
  width: 47%;
  overflow: hidden;
  height: 326px;
  margin: 22px 0 0;
}

.catalog-item-preview_small {
  text-align: center;
  overflow: hidden;
}

.catalog-item-preview-small_list {
  padding: 0 4px;
}

.catalog-item-preview-small_item {
  display: block;
  width: 50%;
  box-sizing: border-box;
  float: left;
  padding: 10px 30px;
  color: #019332;
  font-size: 14px;
  position: relative;
  margin: 0 0 19px;
}

.pagination {
  margin: 20px 0;
}

.catalog-list2 {
  font-size: 0;
  margin: 0 -5px 40px;
}

.catalog-item_engine {
  width: 25%;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 0 10px;
  padding: 0 5px;
  vertical-align: top;
  text-decoration: none;
}

.catalog-item-engine_in {
  padding: 0 10px 19px;
  border: 1px solid #eaeaea;
  display: block;
}

.catalog-item-engine {
  overflow: hidden;
  padding: 34px 0 0;
  border-bottom: 1px solid #eaeaea;
}

.catalog-item-engine-info {
  padding: 0 0 0 331px;
}

.preview-column {
  float: left;
  width: 330px;
  margin: 11px 40px 0 0;
}

.catalog-equipment {
  padding: 0 0 0 331px;
}

.catalog-equipment .pagination {
  margin: 20px 0 51px;
}

.catalog-list-equipment {
  margin: 0 0 30px;
}

.catalog-item-equipment {
  background: #fff;
  border: 1px solid #eaeaea;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
  margin: 0 0 20px;
}

.catalog-item-equipment_top {
  padding: 24px 40px 32px;
}

.catalog-item-equipment_in {
  overflow: hidden;
  padding: 1px 45px 9px 40px;
}

.product-info {
  padding: 34px 0 13px;
}

.product-info_in {
  margin: 0 0 13px;
}

.product-gallery {
  width: 50%;
  float: left;
  margin: 35px 0 0 0;
}

.product-gallery .status {
  display: block;
  text-align: center;
  color: #ff8400;
  font-size: 16px;
  line-height: 20px;
  clear: both;
}

.big-slider-product {
  margin: 0 0 13px;
}

.big-slider-product .carousel-item {
  height: 380px;
}

.big-slider-product .carousel-item img {
  max-width: 100%;
  max-height: 100%;
}

.small-slider-product {
  width: 540px;
  padding: 0 40px 0 60px;
  margin: 0 auto;
}

.small-slider-product .carousel-item {
  display: block !important;
  height: 70px;
}

.small-slider-product .slick-slide {
  cursor: pointer;
  position: relative;
  height: 70px;
  box-sizing: border-box;
  margin: 0 20px 0 0;
}

.small-slider-product .slick-slide:hover {
  opacity: .2;
}

.small-slider-product .slick-current {
  opacity: 1 !important;
}

.small-slider-product .slick-current:after {
  content: '';
  border: 2px solid #029332;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.small-slider-product .slick-arrow {
  padding: 0;
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 0;
  color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #25c276;
  background: none;
  box-sizing: border-box;
  cursor: pointer;
}

.small-slider-product .slick-arrow:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-right: 5px solid #05a82e;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.small-slider-product .slick-arrow:hover {
  z-index: 5;
  background: #05a82e;
  border: 1px solid #05a82e;
}

.small-slider-product .slick-arrow:hover:after {
  border-right: 5px solid #fff;
}

.small-slider-product .slick-prev {
  right: 0;
  left: auto;
}

.small-slider-product .slick-prev:after {
  border-right: none;
  border-left: 5px solid #05a82e;
}

.small-slider-product .slick-prev:hover:after {
  border-right: none;
  border-left: 5px solid #fff;
}

.product_in {
  background: #fff;
  padding: 45px 110px 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  position: relative;
}

.product_in .icon-question {
  margin: 14px 0 0 10px;
}

.product_in:after {
  background: #fff;
  height: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
  content: '';
  left: 10px;
  right: 10px;
  position: absolute;
  z-index: -1;
  bottom: -10px;
}

.product-in_wrap {
  padding: 0 0 50px;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
  border: none;
  border-top: 9px solid #fff;
  border-right: 9px solid transparent;
  left: 1px;
  top: -1px;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
  border: none;
  border-top: 10px solid #eaeaea;
  border-right: 10px solid transparent;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow {
  width: 10px;
  bottom: -1px;
  margin-left: 0;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-box {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
}

.product-info_right {
  padding: 0 0 0 50%;
  margin: 0 0 10px;
}

.product-info_right:after {
  content: "";
  display: table;
  clear: both;
}

.product-more-info {
  padding: 13px 0 22px;
  overflow: hidden;
}

.product-more-info .tab-menu {
  margin: 0 0 39px;
  position: relative;
}

.product-more-info .tab-menu:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #eaeaea;
}

.product-more-info .column {
  padding: 0 0 0 19px;
}

.product-more-info .column:first-child {
  padding: 0 19px 0 0;
}

.column {
  float: left;
  width: 50%;
  box-sizing: border-box;
}

.product-more-info_item {
  margin: 0 0 39px;
}

.product-in_bottom {
  background: #fff0d7;
  color: #333;
  text-align: center;
  line-height: 26px;
  cursor: pointer;
  font-size: 18px;
  margin: -8px -110px 0;
  padding: 26px 50px;
}

.product-in_bottom:hover {
  text-decoration: underline;
}

.container-info {
  padding: 9px 0 18px;
  position: relative;
}

.container-info_preview {
  float: left;
  width: 50%;
}

.container-info_preview .is-fix {
  position: fixed;
  top: 0;
  width: 600px;
  left: 50%;
  margin-left: -660px;
  &.stop-move {
    position: absolute;
    bottom: 0;
    top: auto;
  }
}

.container-info_preview .stop-move {
  //position: absolute;
  //bottom: 0;
  //top: auto;
}

.container-info_item {
  background: #f3f6fa;
  .img {
    width: 150px;
    margin: 0 20px 0 0;
    img {
      display: block;
      width: 100%;
      border: 1px solid #eaeaea;
      box-sizing: border-box;
      height: auto;
    }
  }
  .accordion-drop {
    overflow: hidden;
  }
}

.container-info_left {
  padding: 0 0 0 50%;
}

.container-info_in {
  background: #fff;
  border-radius: 2px;
  border: 1px solid #eaeaea;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
}

.container-info_in .accordion {
  background: #fff;
}

.container-info_in .accordion-item {
  border-top: 1px solid #eaeaea;
  padding: 10px 40px 9px;
}

.container-info_in .accordion-item:first-child {
  border: none;
}

.img-list {
  font-size: 0;
  overflow: hidden;
  margin: 0 0 20px;
}

.container-info_result {
  background: linear-gradient(to right, #019131 0%, #09c12b 100%);
  color: #fff;
  font-size: 18px;
  padding: 20px 38px;
  line-height: 30px;
}

.product-result {
  padding: 25px 0 30px;
}

.product-result .product-gallery {
  margin: 0 0 35px;
  width: 330px;
  float: left;
}

.product-result .big-slider-product {
  margin: 0 0 21px;
}

.product-result .big-slider-product .carousel-item {
  height: 228px;
}

.product-result .small-slider-product {
  width: 100%;
  margin: 0 0 46px;
  padding: 0 10px;
}

.product-result .small-slider-product .slick-slide {
  margin: 0 10px;
}

.product-result_list {
  overflow: hidden;
  padding: 8px 0 19px;
}

.product-result_list .accordion {
  padding: 16px 0 0;
}

.product-result_list .accordion-item {
  border-top: 1px solid #eaeaea;
  position: relative;
  padding: 14px 10px 17px 0;
}

.product-result_list .checkbox-list {
  margin: 21px 0 22px 21px;
}

.product-result_list .accordion-drop {
  clear: both;
}

.product-result_in {
  background: linear-gradient(to left, #019331 0%, #09c12b 100%);
  clear: both;
  overflow: hidden;
  box-sizing: border-box;
  padding: 15px 15px 15px 30px;
  border-radius: 2px;
  margin: 0;
}

.container-info_text .link-group {
  margin: 0 0 12px;
}

.container-info_text .img-list {
  margin: 30px 0 35px;
}

.container-info_text .list-link {
  overflow: hidden;
  margin: 0 0 -9px;
  padding: 1px 0 0;
}

.container-info_text .accordion {
  margin: -9px -40px;
}

.container-info_text .accordion .img-list {
  margin: 19px 0;
}

.container-info_text .accordion-item {
  border-top: 1px solid #eaeaea;
  padding: 10px 40px 9px 40px;
}

.container-info_text .accordion-item:first-child {
  border: none;
}

.container-info_text .active .accordion-title {
  padding: 0 0 0 40px;
}

.container-info_text .accordion-title {
  padding: 0 0 0 40px;
  position: relative;
}

.container-info_text .accordion-drop:after {
  content: "";
  display: table;
  clear: both;
}

.product-text {
  padding: 0;
}

.product-text .list-link {
  overflow: hidden;
  margin: 0 0 20px;
}

.product-text .accordion-item:first-child {
  border: none;
}

.product-text .active .accordion-title {
  padding: 0 0 0 40px;
}

.product-text .accordion-title {
  padding: 0 0 0 40px;
  position: relative;
}

.product-text .accordion-drop:after {
  content: "";
  display: table;
  clear: both;
}

.product-text .accordion-drop p {
  margin: 0 10px 20px 0;
}

.list-preview {
  overflow: hidden;
  margin: 0 0 40px;
}

.product-equipment .accordion-item {
  clear: both;
  border-top: 1px solid #eaeaea;
  padding: 10px 40px 9px 1px;
}

.product-equipment .accordion-item:first-child {
  border: none;
}

.product-equipment .active .accordion-title {
  padding: 0 0 0 40px;
}

.product-equipment .accordion-title {
  padding: 0 0 0 40px;
  position: relative;
}

.product-equipment .accordion-drop:after {
  content: "";
  display: table;
  clear: both;
}

.product-equipment .accordion-drop p {
  margin: 0 10px 20px 0;
}

.catalog-item-engine-info_in .accordion {
  background: #fff;
  padding-bottom: 30px;
}

.catalog-item-engine-info_in .accordion > p {
  margin-bottom: 10px;
}

.catalog-item-engine-info_in .accordion-item {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 11px;
  padding: 10px 40px 9px 1px;
}

.catalog-item-engine-info_in .accordion-item:first-child {
  border: none;
}

.catalog-item-engine-info_in .active .accordion-title {
  padding: 0 0 0 40px;
}

.catalog-item-engine-info_in .accordion-title {
  padding: 0 0 0 40px;
  position: relative;
}

.catalog-item-engine-info_in .accordion-drop p {
  margin: 0 0 20px;
}

.product-more-info_bd {
  border-bottom: 1px solid #eaeaea;
}

.version-big-list {
  padding: 34px 0 9px;
  border-bottom: 1px solid #eaeaea;
}

.version-big-list_in {
  padding: 1px 0 0;
}

.version-big-item,
.material-big-item {
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
  margin: 0 0 20px;
  padding: 0 0 20px;
  overflow: hidden;
  border: 1px solid #eaeaea;
}

.material-big-item .text {
  padding: 0 75px 0 0;
}

.img-carousel {
  margin: 0 0 30px;
}

.img-carousel ul li:after {
  display: none;
}

.img-carousel .slick-arrow {
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  font-size: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: transparent;
  padding: 0;
  border: none;
  left: 20px;
  cursor: pointer;
}

.img-carousel .slick-arrow:hover {
  background: #029332;
}

.img-carousel .slick-arrow:hover:after {
  border-right: 5px solid #fff;
}

.img-carousel .slick-arrow:after {
  content: '';
  position: absolute;
  top: 15px;
  left: 17px;
  width: auto;
  height: auto;
  border-right: 5px solid #029332;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.img-carousel .slick-next {
  right: 20px;
  left: auto;
}

.img-carousel .slick-next:after {
  border-right: none;
  border-left: 5px solid #029332;
}

.img-carousel .slick-next:hover:after {
  border-right: none;
  border-left: 5px solid #fff;
}

.img-carousel .slick-dots {
  position: absolute;
  bottom: 29px;
  left: 0;
  text-align: center;
  width: 100%;
  margin: 0;
  display: block;
}

.img-carousel .slick-dots li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  padding: 0;
}

.img-carousel .slick-dots button {
  background: #fff;
  font-size: 0;
  color: transparent;
  width: 10px;
  height: 10px;
  opacity: .5;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: block;
}

.img-carousel .slick-dots button:hover {
  opacity: 1;
}

.img-carousel .slick-dots .slick-active button {
  background: #05a92d;
  opacity: 1;
}

.certificate-list {
  font-size: 0;
}

.certificate-item {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  box-sizing: border-box;
  padding: 0 20px 20px;
  text-align: center;
}

.contacts-map {
  background: #f3f5f9;
  height: 740px;
  margin: 0 20px 31px 0;
}

.contacts-info {
  margin: -3px 0 0;
  border-bottom: 1px solid #eaeaea;
}

.contacts-right {
  width: 660px;
  float: right;
  padding: 0 0 0 20px;
  box-sizing: border-box;
}

.contacts-right h3 {
  margin: 0 0 30px;
}

.contacts-right .list-documentations li {
  padding-left: 0;
  padding-right: 20px;
  width: 50%;
}

.contacts-info_in {
  padding: 0 680px 0 0;
}

.contacts-top {
  overflow: hidden;
  padding: 11px 0 21px 0;
}

.contacts-item .title {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px dotted #333;
  margin: 0 0 24px;
}

.team-item {
  overflow: hidden;
  margin: 0 0 31px;
}

.team-item .preview {
  margin: 1px 59px 0 0;
  border: 1px solid #eaeaea;
  width: 180px;
  display: block;
  float: left;
}

.team-item {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.team-info {
  overflow: hidden;
  line-height: 30px;
  font-size: 14px;
}

.content_error {
  background: linear-gradient(to bottom, #007349 0%, #008936 100%);
  position: relative;
  padding: 119px 0 191px;
}

.content_error:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background: url(../images/error.png) no-repeat center bottom;
  background-size: cover;
}

.footer {
  overflow: hidden;
  background: #323744;
}

.footer_nav {
  border-bottom: 1px solid #4b5160;
}

.footer-nav_in {
  span {
    text-decoration: underline;
  }
}

.footer_bottom {
  background: #282c35;
}

.footer-logo {
  display: block;
  margin: 10px 0 29px 1px;
}

.footer_social {
  font-size: 0;
  border: 1px solid #4b5160;
  display: inline-block;
  border-radius: 2px;
}

.footer_left {
  width: 270px;
  float: left;
}

.footer-content_in {
  overflow: hidden;
}

.footer_carousel {
  border: 1px solid #4b5160;
  border-radius: 2px;
  margin: 0 0 45px;
  padding-top: 1px;
  height: 40px;
  box-sizing: border-box;
}

.footer_carousel .carousel-item {
  background: #282c35;
  box-sizing: border-box;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  padding: 8px 100px 8px 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.footer_carousel .slick-slide .carousel-item {
  display: block !important;
}

.footer_carousel .slick-arrow {
  position: absolute;
  top: 1px;
  bottom: 1px;
  background: #282c35;
  border: none;
  font-size: 0;
  cursor: pointer;
  color: transparent;
  right: 0;
  border-left: 1px solid #4b5160;
  width: 39px;
  box-sizing: border-box;
  z-index: 5;
}

.footer_carousel .slick-arrow:hover {
  background: #4b5160;
}

.footer_carousel .slick-arrow:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 5px solid #fff;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.footer_carousel .slick-prev {
  right: 39px;
}

.footer_carousel .slick-prev:after {
  border-left: none;
  border-right: 5px solid #fff;
}

.footer_carousel .slick-list {
  height: 38px;
}

.footer_content {
  padding: 39px 0 44px;
}

.footer-contacts_item {
  float: left;
  margin: 0 80px 0 0;
  width: 200px;
}

.footer-contacts_item:last-child {
  margin: 0;
  float: right;
  width: auto;
}

.callback-popup {
  width: 620px;
  box-sizing: border-box;
  display: none;
  .btn-group {
    text-align: center;
    .btn {
      display: inline-block;
    }
  }
}

.fancybox-nav span {
  visibility: visible;
  width: 40px;
  background: #fff;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  transition: all 0.12s ease-in-out;
}

.fancybox-nav span:hover {
  background: #029332;
  border: 1px solid #029332;
}

.fancybox-type-image .fancybox-inner {
  width: 1100px;
}

.show-mobile,
.show-tablet {
  display: none;
}

.only-mobile {
  display: none !important;
}

.mobile-crumbs {
  display: none;
  padding: 8px 0 0;
  position: relative;
  margin: 0 0 17px;
}

.mobile-crumbs:after {
  content: '';
  left: 0;
  bottom: 0;
  height: 1px;
  background: #eaeaea;
  width: 100%;
  display: inline-block;
}

.mobile-crumbs:before {
  background: #019131;
  content: '';
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 60px;
  display: inline-block;
  height: 2px;
}

.icon-arr-mobile {
  background: url(../images/sprite.png) -63px -42px;
  display: inline-block;
  width: 10px;
  height: 6px;
  display: none;
  vertical-align: top;
  margin: 11px 0 0 7px;
}

.form-item.hdn {
  display: none !important;
}

.version-big-item .list-link a {
  display: block;
}

.error {
  position: relative;
  textarea,
  input {
    border: 1px solid red;
    box-shadow: 0 0 3px red;
    position: relative;
    &:focus {
      z-index: 20;
    }
  }
  .icon {
    border-color: red;
  }
  .hint {
    background: #fff;
    z-index: 10;
    margin: 13px 0 39px;
    color: #656565;
    font-size: 16px;
    line-height: 30px;
    display: block;
    position: absolute;
    padding: 5px 30px;
    top: 100%;
    left: -10px;
    border-radius: 2px;
    border: 1px solid #eaeaea;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
    border: 1px solid #eaeaea;
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-bottom: 10px solid #fff;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      top: -10px;
      left: 5px;
      position: absolute;
    }
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-bottom: 11px solid #eaeaea;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      top: -11px;
      left: 4px;
      position: absolute;
    }
  }
}

.checkbox {
  .error {
    .hint {
      display: none !important;
    }
  }
}

.text-form {
  background: #fff0d7;
  color: #333;
  text-align: center;
  line-height: 26px;
  cursor: pointer;
  font-size: 18px;
  margin: 0 -20px 20px;
  padding: 15px 20px;
}

.callback-success {
  overflow: hidden;
  color: #333;
  font-size: 16px;
  line-height: 30px;
  p {
    margin: 10px 0;
  }
  li {
    position: relative;
    padding: 0 0 0 40px;
    margin: 0 0 10px;
    &:after {
      position: absolute;
      left: 0;
      top: 0;
      content: "";
      display: inline-block;
      color: #019132;
      font-weight: 500;
      font-size: 12px;
    }
  }

  ul {
    margin: 0 0 30px;
    padding: 0;
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-size: 16px;
    line-height: 30px;
    li {
      padding: 0 0 0 30px;
      &:after {
        background: #05a92d;
        width: 6px;
        height: 6px;
        left: 1px;
        top: 11px;
      }
    }
  }

  img {
    max-width: 100%;
    width: auto \9
  ;
    height: auto;
    vertical-align: middle;
    border: 0;
  }

  ol {
    font-size: 16px;
    line-height: 30px;
    padding: 0;
    list-style: none;
    margin: 0 0 30px;
    counter-reset: li;
    li {
      counter-increment: li;
      &:after {
        content: "0" counter(li) ".";
      }
    }
  }

}

.logo-info {
  overflow: hidden;
  .preview {
    float: left;
    margin: 0 15px 0 0;
  }
  img {
    width: 100%;
    height: auto;
    max-width: 200px;
  }
}

.catalog-item_top {
  .name {
    display: inline-block;
    &:hover {
      span {
        text-decoration: none;
      }
    }
    span {
      overflow: hidden;
      line-height: 50px;
      margin: 0 5px 0 0;
      text-decoration: underline;
      border-bottom: 1px solid transparent;
    }
    .preview {
      text-decoration: none;
      border-bottom: 1px solid transparent;
      float: right;
      display: flex;
      align-items: center;
      margin: 0 0 0 5px;
      height: 50px;
      img {
        max-height: 40px;
      }
    }
  }
}

.catalog-item-engine-tab-menu {
  color: #333;
  line-height: 20px;
  font-size: 0;
  position: relative;
  margin: 0 0 20px;
  &:after {
    content: '';
    position: absolute;
    border-bottom: 1px solid #eaeaea;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  li {
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    position: relative;
    z-index: 5;
    margin: 0;
    padding: 0 0 23px;
  }
  .active {
    border-bottom: 2px solid #08b42d;
  }
}

.btn-up {
  position: fixed;
  right: 50px;
  z-index: 30;
  border-radius: 100%;
  display: none;
  width: 50px;
  height: 50px;
  bottom: 50px;
  background: url(../images/up.jpg) no-repeat;
  background-size: contain;
  cursor: pointer;
  &:hover {
    opacity: .9;
  }
}

.content-bottom-carousel_in,
.masthead_left .tab-menu{
  touch-action: pan-x;
}

.version-big-item-text{
  padding: 0 20px 0 0;
}

.catalog-item-engine--accordion{
  .accordion-item{
    margin: 0 0 -1px;
    padding: 0;
    &.active{
      .accordion-title{
        padding: 0;
      }
      h5{
        &:after{
          content: '-';
        }
      }
    }
  }
  .accordion-drop{
    margin: 0 !important;
  }
  .accordion-title{
    padding: 0;
  }
  h5{
    position: relative;
    line-height: 1.3 !important;
    padding: 15px 35px 15px 1px;
    &:after{
      width: 30px;
      height: 30px;
      content: '+';
      font-size: 24px;
      line-height: 26px;
      padding-left: 1px;
      text-align: center;
      color: #029332;
      position: absolute;
      box-sizing: border-box;
      transform: translateY(-50%);
      top: 50%;
      right: 0;
      border: 2px solid #eaeaea;
      border-radius: 100%;
    }
  }
}

.tooltipster-box{
  ul{
    padding-top: 10px;
  }
  li{
    position: relative;
    padding: 0 0 10px 20px;
    &:after{
      background: #05a92d;
      width: 6px;
      height: 6px;
      left: 1px;
      top: 7px;
      position: absolute;
      content: "";
      display: inline-block;
      color: #019132;
      font-weight: 500;
      font-size: 12px;
    }
  }
}

.icon-inst {
  background: url(../images/icon/inst.png) no-repeat;
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
}
.version-big-item-text{
  .list-link{
    a{
      display: inline-block;
      vertical-align: top;
    }
    li{
      margin-right: 0;
      width: 15%;
      padding-right: 10px;
      box-sizing: border-box;
      &:after{
        top: 4px;
      }
    }
  }
}

@media screen and (max-width: 1360px) {
  .hide-tablet {
    display: none !important;
  }

  .show-tablet {
    display: block;
  }

  .header {
    z-index: 15;
    position: relative;
    overflow: visible;
  }

  .header_top .wrapper {
    padding: 0 20px 0 19px;
  }

  .header_tel {
    position: relative;
    width: 240px;
    height: 47px;
    overflow: visible;
    box-sizing: border-box;
    margin: -15px -20px 0 0;
  }

  .header_tel:after {
    content: '';
    background-image: url(../images/sprite.png);
    display: inline-block;
    background-position: -63px -42px;
    width: 10px;
    height: 6px;
    position: absolute;
    top: 28px;
    right: 27px;
  }

  .header_tel.open {
    background-color: #fff;
  }

  .header_tel.open .header-tel_item {
    display: block;
  }

  .header_tel.open .header-tel_in {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .header-tel_in {
    overflow: hidden;
    padding: 0 20px 0 0;
  }

  .header-tel_item {
    display: none;
    box-sizing: border-box;
    background: #FFF;
    margin: 0;
    border-top: 1px solid #eaeaea;
    padding: 16px 10px 17px 19px;
  }

  .header-tel_item:first-child {
    width: 100%;
    display: block;
    border-top: none;
  }

  .header-tel_item a {
    white-space: nowrap;
  }

  .logo img {
    margin: 7px 30px 0 2px;
  }

  .header_button-group {
    padding: 4px 0 0 0;
  }

  h1 {
    font-size: 30px;
    margin: 0 0 35px;
    line-height: 30px;
  }

  .masthead {
    padding: 45px 0 40px;
  }

  .masthead .download-link {
    margin: 2px 0 0 30px;
  }

  .link-list {
    padding: 0 32px 0 27px;
  }

  .link-list li {
    margin: 0 0 0 16px;
  }

  .masthead-right_top {
    padding: 27px 110px 27px 30px;
    font-size: 16px;
  }

  .masthead-carousel_item {
    padding: 44px 0 35px 20px;
  }

  .masthead-carousel_item .preview {
    width: 160px;
    height: 160px;
    margin: 8px 20px 0 0;
  }

  .masthead-carousel_item .preview img {
    max-width: 85%;
    max-height: 85%;
  }

  .masthead-left_preview img {
    max-width: 80%;
    max-height: 80%;
  }

  .version-list_item {
    padding: 0 10px 20px;
  }

  .pluses_info {
    padding: 0 0 50px;
  }

  .pluses_info .big-preview {
    height: 240px;
    width: 100%;
  }

  .pluses_info .big-preview img {
    max-height: 95%;
    max-width: 80%;
  }

  .pluses_text {
    clear: both;
  }

  .small-preview-list {
    margin: 0 -10px 21px;
  }

  .application-info {
    padding: 49px 0 26px;
  }

  .application-info h2 {
    padding: 0 0 31px;
    margin: 0 0 40px;
  }

  .application-info_text {
    width: 480px;
    padding: 10px 20px 0 0;
  }

  .application-info_item {
    padding: 58px 0 41px;
    height: 240px;
  }

  .application-info_carousel .slick-dots {
    margin: 29px 0 0;
  }

  .content_bottom {
    padding: 9px 0 21px;
  }

  .content_bottom .wrapper {
    padding: 92px 20px 0;
  }

  .content-callback {
    padding: 28px 20px 0 0;
  }

  .content-callback .tab-menu {
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
  }

  .content-callback_text ul {
    margin: 0 0 38px;
  }

  .content-callback-contacts_tel {
    width: 299px;
    padding: 0;
  }

  .content-callback-form {
    padding: 0;
  }

  .content-callback-form_in,
  .callback-popup {
    padding: 38px 20px 40px;
  }

  .content-callback-form_in h3,
  .content-callback-form_in .title_h3,
  .callback-popup .title_h3,
  .callback-popup h3 {
    margin: 0 0 18px;
  }

  .content-callback-form_in .download-link,
  .callback-popup .download-link {
    margin: 0 0 35px;
  }

  .content_bottom-carousel {
    font-size: 14px;
  }

  .content_bottom-carousel p {
    min-width: 287px;
  }

  .content_bottom-carousel a {
    margin: 0 18px 0 0;
  }

  .footer_nav span,
  .footer_nav a {
    font-size: 14px;
  }

  .footer_left {
    width: 230px;
  }

  .footer-contacts_item {
    width: 24%;
    margin: 0;
    box-sizing: border-box;
    padding: 0 20px 0 0;
  }

  .footer-contacts_item:last-child {
    padding: 0;
  }

  .footer-contacts-item_big {
    width: 30%;
    padding: 5px 0 0;
  }

  .nav-menu {
    padding: 0;
  }

  .nav-menu .wrapper {
    padding: 0;
  }

  .nav-menu_in .open {
    background: #029332;
  }

  .nav-menu_in .has-drop {
    padding: 0 40px 0 28px;
  }

  .nav-menu_in .has-drop > a:after {
    background-image: url(../images/sprite.png);
    display: inline-block;
    background-position: -18px -55px;
    width: 10px;
    height: 6px;
    position: absolute;
    top: 31px;
    right: -20px;
    content: '';
  }

  .nav-menu_in .has-drop a {
    position: relative;
    z-index: 5;
    padding: 25px 0 28px;
  }

  .nav-menu_in .has-drop a:hover {
    border-bottom: 1px solid transparent;
  }

  .nav-menu_in a {
    padding: 25px 20px 28px;
    border-bottom: none !important;
  }

  .nav-menu_in a:hover {
    border-bottom: 1px solid transparent;
  }

  .nav-menu_in .active a {
    text-decoration: underline;
  }

  .nav-menu_in .drop {
    z-index: 4;
  }

  .nav-menu_in .drop li {
    border-top: 1px solid #0ba13c;
    display: block;
    width: 100%;
    margin: 0;
  }

  .nav-menu_in .drop li:first-child {
    border: none;
  }

  .nav-menu_in .drop a {
    padding: 25px 30px;
    line-height: 20px;
  }

  .catalog-nav {
    width: 259px;
  }

  .catalog_in .pagination {
    margin: -19px 0 30px;
  }

  .catalog_in,
  .catalog-equipment,
  .catalog-item-engine-info {
    padding: 0 0 0 299px;
  }

  .crumbs ul {
    margin: 0 0 30px;
  }

  .crumbs h1 {
    font-size: 30px;
    letter-spacing: -0.003em;
    line-height: 30px;
    padding: 0 0 36px;
    margin: 0 0 30px;
  }

  .text-top p:last-child,
  .text-bottom p:last-child,
  .product-text p:last-child {
    margin-bottom: 20px;
  }

  .text-top table,
  .text-bottom table,
  .product-text table {
    margin: 30px 0 24px;
  }

  .catalog-item_top,
  .catalog-item-equipment_top {
    position: relative;
    padding: 23px 29px 35px;
  }

  .catalog-item_top .cash,
  .catalog-item-equipment_top .cash {
    float: right;
    width: auto;
  }

  .catalog-item_top .name,
  .catalog-item-equipment_top .name {
    font-size: 18px;
    padding: 1px 10px 0 1px;
    float: left;
  }

  .catalog-item_top .download-link,
  .catalog-item-equipment_top .download-link {
    position: absolute;
    left: 29px;
    bottom: 16px;
  }

  .catalog-item-preview-small_list {
    margin: 0 -6px;
    padding: 0;
  }

  .catalog-item-preview-small_item {
    padding: 10px;
    margin: 0 0 9px;
  }

  .catalog-item-preview-small_item .preview {
    height: 110px;
  }

  .catalog-item-preview-small_item .preview img {
    max-height: 65%;
  }

  .catalog-item-preview_big {
    width: 48%;
  }

  .catalog-item-preview_big img {
    max-height: 75%;
    max-width: 75%;
  }

  .catalog-list {
    margin: 0 0 19px;
  }

  .product-info_in {
    margin: 0 0 20px;
  }

  .product-info_right {
    padding: 0 0 0 52%;
  }

  .product-info .version-list {
    padding: 27px 0 18px;
  }

  .product-info .version-list_item {
    padding: 0 20px 20px;
  }

  .product-info .version-list_item .preview img {
    max-width: 70%;
    max-height: 70%;
  }

  .product-info .version-list_in {
    margin: 0 -20px;
  }

  .product_in {
    padding: 45px 37px 0 40px;
  }

  .product_in .download-link {
    margin: 1px 0 17px 2px;
  }

  .product_in .preview {
    width: 47%;
    margin: 33px auto 0;
  }

  .product_in .cash {
    margin: 0 0 31px;
  }

  .product_in li {
    padding: 0 150px 0 0;
    margin: 0 0 15px 0;
  }

  .product_in ul {
    margin: 0 0 34px;
  }

  .product_in ul span {
    width: 143px;
  }

  .product-in_wrap {
    padding: 0 0 38px;
  }

  .product-more-info {
    padding: 0 0 22px;
  }

  .product-more-info_item td {
    padding: 16px 0 13px 20px;
  }

  .pluses-list + .content_bottom {
    padding: 77px 0 21px;
  }

  .product-in_bottom {
    margin: -8px -37px 0 -40px;
    padding: 15px 50px;
  }

  .small-slider-product {
    width: 96%;
    margin: 0 0 -7px;
  }

  .big-slider-product {
    margin: -8px 0 0;
  }

  .big-slider-product .carousel-item img {
    max-width: 80%;
  }

  .tablet-accordion {
    padding-top: 0;
    margin-top: -2px;
  }

  .tablet-accordion .tab-content {
    border: 1px solid #eaeaea;
  }

  .tablet-accordion .active .tab-title {
    border-bottom: 1px solid #eaeaea;
    color: #08b42d;
    margin-bottom: 0;
  }

  .tablet-accordion .active .tab-title span:after {
    display: block;
  }

  .tablet-accordion .active .hide-tablet {
    display: block !important;
  }

  .tablet-accordion .tab-item {
    padding: 20px;
    overflow: hidden;
    border-bottom: 1px solid #eaeaea;
    display: block !important;
  }

  .tablet-accordion h2 {
    margin: 45px 0 30px;
    line-height: 30px;
    padding-bottom: 36px;
  }

  .tablet-accordion .product-more-info_item {
    margin: 38px 0 39px;
  }

  .tablet-accordion.product-more-info {
    padding: 13px 0 22px;
  }

  .tablet-accordion .container-info_left {
    padding: 19px 0 4px 28%;
  }

  .tablet-accordion .container-info_preview .is-fix {
    left: 40px;
    width: 24%;
  }

  .tablet-accordion .container-info_preview .stop-move {
    width: 26%;
    left: 0;
    bottom: 20px;
  }

  .tablet-accordion .tab-title {
    display: block;
  }

  .container-info_preview {
    width: 26%;
  }

  .container-info_preview .preview {
    width: auto;
  }

  .container-info_preview .is-fix {
    left: 20px;
    width: 25%;
    margin-left: 0;
  }

  .container-info_preview .stop-move {
    width: 26%;
    left: 0;
    bottom: 20px;
  }

  .container-info_left {
    padding: 0 20px 4px 29%;
  }

  .container-info_in .accordion-item {
    padding: 10px 50px 9px 40px;
  }

  .container-info_in .accordion-title .checkbox {
    margin: 4px 0 0 15px;
  }

  .content-bottom_result .wrapper {
    padding: 0 20px;
  }

  .content-bottom_result .content-callback-form,
  .content-bottom_result .content-callback {
    width: 100%;
    overflow: hidden;
    clear: both;
  }

  .content-bottom_result .content-callback {
    padding: 12px 0 0;
  }

  .content-bottom_result .content-callback-contacts_tel {
    width: 50%;
  }

  .content-bottom_result .content-callback_contacts {
    margin: 0 0 24px;
  }

  .content-bottom_result .content-callback-form_in,
  .content-bottom_result .callback-popup {
    padding: 20px 20px 40px;
  }

  .content-bottom_result .content-callback-form_in form,
  .content-bottom_result .callback-popup form {
    width: 440px;
    margin: 0 auto;
    display: block;
  }

  .product-result .product-gallery {
    width: 50%;
  }

  .product-result .small-slider-product {
    width: 350px;
    margin: 0 auto 46px;
    padding: 0;
  }

  .product-result_list {
    padding: 8px 0 21px;
  }

  .product-result_list .accordion-item .checkbox {
    margin: 0 0 5px;
  }

  .product-result_list .accordion-item {
    padding: 14px 10px 15px 0;
  }

  .product-result_in {
    position: relative;
    padding: 15px 173px 14px 29px;
  }

  .product-result_in {
    .btn {
      position: absolute;
      top: 15px;
      right: 15px;
    }
    &.full {
      padding-right: 15px;
      img {
        width: 220px;
      }
    }
  }

  .product-result_in .cash {
    float: right;
  }

  .container-info {
    padding: 9px 0 0;
  }

  .list-preview a {
    padding: 0 10px;
  }

  .catalog-item_engine {
    width: 33.3%;
    padding: 0 15px;
    margin: 0 0 20px;
  }

  .catalog-item_engine .preview {
    height: 161px;
  }

  .catalog-item_engine .name {
    white-space: nowrap;
  }

  .catalog-list2 {
    overflow: hidden;
    margin: 0 -15px 28px -13px;
  }

  .preview-column {
    width: auto;
    float: none;
    overflow: hidden;
    margin: 0 -10px 9px;
    text-align: center;
  }

  .preview-column a,
  .preview-column span {
    display: inline-block;
    vertical-align: top;
    width: 318px;
    margin: 0 10px;
  }

  .preview-column a:last-child,
  .preview-column span:last-child {
    display: none;
  }

  .catalog-item-equipment_top {
    padding: 23px 29px 31px;
  }

  .catalog-item-equipment_top .name {
    padding: 4px 10px 0 1px;
  }

  .catalog-item-equipment_in {
    padding: 1px 10px 29px 19px;
  }

  .catalog-item-equipment_in .preview {
    width: 173px;
    height: 136px;
  }

  .catalog-item-equipment_in .text {
    overflow: hidden;
  }

  .catalog-equipment .pagination {
    margin: 20px 0 30px;
  }

  .version-big-item .preview,
  .material-big-item .preview {
    width: 213px;
    height: 183px;
  }

  .version-big-item .name,
  .material-big-item .name {
    font-size: 18px;
    line-height: 22px;
    padding: 22px 0 23px;
    margin: 0 0 19px;
  }

  .version-big-item .list-link,
  .material-big-item .list-link {
    margin: 0 0 6px;
  }

  .version-big-list {
    margin-bottom: -20px;
  }

  .material-big-item {
    padding: 0 0 9px;
  }

  .material-big-item .preview {
    width: 193px;
    height: 183px;
  }

  .material-big-item .name {
    margin: 0 0 30px;
  }

  .material-big-item .text {
    padding: 0 20px 0 0;
  }

  .list-preview {
    margin: 0 0 30px;
  }

  .list-documentations,
  .text-top .list-documentations,
  .text-bottom .list-documentations,
  .product-text .list-documentations {
    margin-bottom: -19px;
  }

  .list-documentations li,
  .text-top .list-documentations li,
  .text-bottom .list-documentations li,
  .product-text .list-documentations li {
    width: 33.3%;
    padding: 0 20px 0 0;
  }

  .certificate-item {
    padding: 0 10px;
  }

  .certificate-item span {
    height: 270px;
  }

  .country-table table {
    margin: 18px 0 20px;
  }

  .contacts-right {
    display: none;
  }

  .contacts-info .list-documentations {
    margin: 0 0 -9px;
  }

  .contacts-info_in {
    padding: 0;
    margin: 0 0 41px;
  }

  .contacts-map {
    height: 380px;
    margin: 19px 0 33px;
  }

  .contacts-top {
    padding: 11px 0 21px 8px;
  }

  .contacts-top span {
    padding: 7px 50px 0 0;
  }

  .contacts-item {
    padding: 24px 0 12px 9px;
  }

  .content_error {
    padding: 120px 0 191px 80px;
  }

  .btn-up {
    right: 20px;
    bottom: 20px;
  }
}

@media screen and (max-width: 999px) {
  .header-top_nav li {
    margin: 0 0 0 20px;
  }

  .masthead_right,
  .masthead_left {
    width: 100%;
    float: none;
  }

  .masthead-left_preview {
    height: 350px;
  }

  .masthead_in {
    height: auto;
  }

  .pluses_in {
    width: 40%;
    margin: 0 20px -60px 0;
  }

  .pluses_info .preview {
    width: 100%;
  }

  .application-info_text {
    width: 60%;
  }

  .application-info_text p {
    padding-right: 30px;
  }

  .pluses-list {
    padding: 35px 0 0;
  }

  .content-callback-contacts_email {
    clear: both;
    margin: 0;
    border-top: 1px solid #eaeaea;
  }

  .add-file {
    margin: 0 0 10px;
    width: 100%;
  }

  .add-file a {
    width: 100%;
  }

  .content-callback-form_in .btn-group,
  .callback-popup .btn-group {
    text-align: center;
  }

  .footer-contacts_item {
    width: 50%;
    margin: 0 0 10px;
    height: 51px;
  }

  .footer-contacts_item:last-child {
    float: left;
  }

  .footer-contacts-item_big {
    width: 50%;
  }

  .footer_left {
    width: 215px;
  }

  .footer_content {
    padding: 25px 0 10px;
  }

  .footer_nav span,
  .footer_nav a {
    font-size: 12px;
    padding: 10px 0;
  }

  .footer_carousel {
    margin: 0 0 20px;
  }

  .nav-menu_in a {
    padding: 10px;
    font-size: 13px;
  }

  .nav-menu_in .has-drop > a:after {
    top: 15px;
  }

  .nav-menu_in .has-drop a {
    padding: 10px 0;
  }

  .nav-menu_in .drop a {
    padding: 10px;
  }

  .logo {
    width: 200px;
  }

  .logo span {
    display: block;
  }

  .logo img {
    float: none;
  }

  .header_tel {
    margin: -10px -20px 0 0;
  }

  .header_button-group .btn {
    margin: 5px 10px;
  }

  .catalog-nav {
    width: 220px;
  }

  .catalog_in,
  .catalog-equipment,
  .catalog-item-engine-info {
    padding: 0 0 0 235px;
  }

  .catalog-item_top .name,
  .catalog-item-equipment_top .name {
    padding: 0 20px 0 0;
    margin: 0 0 10px;
    white-space: normal;
    float: none;
    line-height: 1.4;
    overflow: visible;
  }

  .catalog-item_top .name span,
  .catalog-item-equipment_top .name span {
    display: inline;
  }

  .catalog-item_top .cash,
  .catalog-item-equipment_top .cash {
    margin: 0 0 0 20px;
  }

  .catalog-item_engine {
    width: 50%;
  }

  .product_in {
    padding: 20px 20px 0;
  }

  .product-info .version-list_item {
    padding: 0 10px 20px;
  }

  .product-in_bottom {
    margin: -8px -20px 0;
    padding: 15px 25px;
  }

  .preview-column a,
  .preview-column span {
    width: 45%;
    height: 250px;
  }

  .catalog-item-equipment_top .name {
    margin-bottom: 0;
  }

  .logo-info {
    img {
      max-width: 150px;
    }
  }

  .content-callback-form_in .btn-group .btn {
    width: 100%;
  }

  .version-big-item-text{
    .list-link{
      a{
        display: inline-block;
        vertical-align: top;
      }
      li{
        margin-right: 0;
        width: 20%;
        padding-right: 10px;
        box-sizing: border-box;
        &:after{
          top: 4px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .work-carousel .slick-list{
    height: auto !important;
  }
  .wrapper{
    .wrapper{
      padding: 0;
    }
  }
  .icon-arr-mobile {
    display: inline-block;
  }

  .mobile-crumbs {
    display: block;
  }

  .nav-menu_in,
  .only-mobile,
  .show-mobile {
    display: block !important;
  }

  .hide-mobile,
  .crumbs,
  .masthead-left_preview,
  .small-slider-product,
  .header_button-group {
    display: none !important;
  }

  .header_content {
    padding: 73px 0 15px;
  }

  .header_content .wrapper {
    position: static;
  }

  .header_top {
    display: none;
  }

  .header_tel {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eaeaea;
  }

  .header_tel:after {
    display: none;
  }

  .header-tel_item {
    padding: 10px 20px;
  }

  .header-tel_item:first-child a {
    position: relative;
  }

  .header-tel_item span {
    display: block;
  }

  .header-tel_item a {
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
  }

  .logo {
    width: auto;
    display: block;
    float: none;
    margin: 0 -10px;
  }

  .logo img {
    width: 140px;
    float: left;
    margin: 3px 18px 0 0;
  }

  .logo span {
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    clear: none;
  }

  .nav-menu {
    position: absolute;
    left: 0;
    z-index: 15;
    width: 100%;
    top: 120px;
  }

  .nav-menu_in ul {
    display: none;
    padding: 16px 0 0;
    border-top: 1px solid #4fb76f;
  }

  .nav-menu_in.open ul {
    display: block;
  }

  .nav-menu_in li {
    display: block;
    padding: 0 6px;
    margin: 0 0 14px;
  }

  .nav-menu_in a {
    font-size: 16px;
    padding: 10px 14px;
  }

  .nav-menu_in .btn {
    font-size: 14px;
    padding: 5px 14px;
    height: auto;
    line-height: 20px;
    border: none;
    margin: 2px 4px 17px;
  }

  .nav-menu_in .btn-white {
    color: #333;
  }

  .nav-icon {
    display: block;
  }

  h1 {
    font-size: 18px;
    margin: 0 0 11px;
    line-height: 30px;
  }

  h2 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    margin: 0 -5px 41px 0;
    padding: 0 0 21px;
  }

  .masthead {
    padding: 69px 0 20px;
  }

  .masthead .download-link {
    display: none;
  }

  .masthead:after {
    height: 112px;
  }

  .masthead .bg {
    bottom: 102px;
  }

  .masthead_in {
    margin: 0 -10px;
  }

  .masthead_left {
    padding: 10px 10px 0;
    box-sizing: border-box;
    position: relative;
    z-index: 5;
    background: #00a354;
  }

  .link-list {
    position: relative;
    overflow: visible;
    padding: 0;
    border-radius: 2px;
    background-color: #fff;
  }

  .link-list.active .tab-menu {
    display: block;
  }

  .link-list.active p:after {
    transform: rotate(-180deg);
  }

  .link-list .active {
    background: #f3f3f3;
    border-bottom: none;
    border-top: 1px solid #f3f3f3;
  }

  .link-list .tab-menu {
    display: none;
    position: absolute;
    z-index: 2;
    background: #fff;
    left: 0;
    top: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    max-height: 335px;
    overflow: auto;
    .all{
      position: static;
    }
  }

  .link-list li {
    display: block !important;
    float: none;
    margin: 0;
    border-top: 1px solid #f3f3f3;
    border-bottom: none;
  }

  .link-list li:first-child {
    border-top: none;
  }

  .link-list a {
    color: #333;
    line-height: 19px;
    padding: 11px 20px 7px;
    font-size: 14px;
  }

  .masthead-right_top {
    font-size: 14px;
    line-height: 20px;
    padding: 15px 110px 15px 20px;
  }

  .masthead-right_top a {
    white-space: normal;
  }

  .masthead-right_top span {
    display: inline;
  }

  .masthead_carousel .slick-arrow {
    right: 10px;
  }

  .masthead_carousel .slick-prev {
    right: 50px;
  }

  .masthead-carousel_item {
    padding: 5px 20px 24px 20px;
  }

  .masthead-carousel_item .preview {
    float: none;
    margin: 8px 20px 12px -10px;
  }

  .masthead-carousel_item li span {
    width: 100px;
  }

  .version-list {
    padding: 17px 0 9px;
  }

  .version-list_item {
    width: 100%;
    padding: 0 0 10px;
  }

  .pluses-list {
    padding: 29px 0 0;
  }

  .pluses-list h2 {
    margin: 0 0 20px;
  }

  .mobile-accordion .tab-title,
  .mobile-accordion .tab-item {
    display: block !important;
    margin: 0;
  }

  .mobile-accordion .tab-item {
    counter-increment: li;
  }

  .mobile-accordion .tab-content {
    counter-reset: li;
    overflow: visible;
  }

  .mobile-accordion .tab-title {
    padding: 15px 40px 15px 59px;
    font-size: 14px;
    margin: 0 -10px 1px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
    position: relative;
  }

  .mobile-accordion .tab-title:before {
    position: absolute;
    left: 20px;
    top: 17px;
    width: 40px;
    content: counter(li) ".";
    display: inline-block;
    color: #019132;
    font-weight: 500;
    font-size: 12px;
  }

  .mobile-accordion .tab-title:after {
    height: 30px;
    content: '';
    left: 10px;
    right: 10px;
    bottom: -10px;
    z-index: -1;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
  }

  .mobile-accordion .tab-title i {
    background-image: url(../images/sprite.png);
    display: inline-block;
    background-position: -63px -42px;
    width: 10px;
    height: 6px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 20px;
  }

  .mobile-accordion .active {
    padding-bottom: 25px;
  }

  .mobile-accordion .active .tab-title {
    margin: 0 -10px 40px;
  }

  .mobile-accordion .active .hide-mobile {
    display: block !important;
  }

  .pluses_info .big-preview {
    margin: 0 0 24px;
    height: 173px;
  }

  .small-preview-list {
    margin: 0 -10px 1px;
  }

  .small-preview-list a {
    width: 33.3%;
  }

  .small-preview-list a:last-child {
    display: none;
  }

  .pluses_text {
    font-size: 14px;
  }

  .application-info_carousel,
  .application-info_text {
    float: none;
    width: 100%;
  }

  .application-info_text {
    font-size: 14px;
    padding: 15px 0 0;
    margin: 0 -15px 0 0;
    width: auto;
  }

  .application-info_carousel .slick-dots {
    margin: 19px 0 0;
  }

  .application-info {
    padding: 29px 0 31px;
  }

  .application-info .wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }

  .application-info h2 {
    display: none;
    padding: 0 0 21px;
    margin: 0 0 19px;
  }

  .application-info_item {
    display: none;
  }

  .application-info_item:first-child {
    display: block;
  }

  .content-callback {
    width: 100%;
    float: none;
    padding: 7px 0 21px;
  }

  .content-callback .tab-menu li {
    width: auto !important;
    margin: 0 30px 0 0;
    padding: 24px 0;
  }

  .content-callback .tab-menu li:first-child {
    margin: 0 30px 0 0;
  }

  .content-callback .slick-current li {
    border-bottom: 2px solid #08b42d !important;
    color: #333;
  }

  .content-callback .slick-current li:hover {
    color: #333;
  }

  .content-callback .active {
    border-bottom: 2px solid transparent !important;
  }

  .content-callback-form {
    width: 100%;
  }

  .content_bottom {
    padding: 0 0 21px;
  }

  .content-callback_contacts {
    margin: 0 0 27px;
  }

  .content-callback-contacts_tel a {
    margin: 0 0 9px;
  }

  .content-callback-contacts_email {
    border: none;
    padding: 9px 0 0;
  }

  .content-callback-contacts_email br {
    display: none;
  }

  .content-callback_text {
    font-size: 14px;
    margin: 0 -1px;
  }

  .content-callback_text ul {
    margin: 0 0 18px;
  }

  .content-callback_text li {
    font-size: 16px;
  }

  .content-callback-form_in,
  .callback-popup {
    padding: 32px 20px 19px;
  }

  .content-callback-form_in h3,
  .content-callback-form_in .title_h3,
  .callback-popup .title_h3,
  .callback-popup h3 {
    font-size: 18px;
    margin: 0 0 13px;
    line-height: 1.25;
  }

  .content-callback-form_in .download-link,
  .callback-popup .download-link {
    margin: 0 0 25px;
  }

  .content-callback-form_in .download-link i,
  .callback-popup .download-link i {
    display: none;
  }

  .content-callback-form_in .polit,
  .callback-popup .polit {
    margin: 25px 0 25px;
  }

  .content-callback-form_in .btn,
  .callback-popup .btn {
    width: 100%;
  }

  .content_bottom-carousel {
    height: auto;
  }

  .content_bottom-carousel p {
    line-height: 20px;
    padding: 15px 0 12px;
  }

  .content_bottom-carousel li {
    display: block;
    margin: 0;
    width: 25%;
    float: left;
  }

  .content_bottom-carousel a {
    line-height: 20px;
    margin: 0 ;
    padding: 7px 0 5px;
  }

  .content-bottom-carousel_in {
    clear: both;
    font-size: 14px;
    width: 100%;
  }

  .carousel-wrap{
    clear: both;
    padding: 0 0 10px;
    width: 100%;
    .btn{
      display: none;
    }
  }

  .footer_nav {
    padding: 24px 0 16px 1px;
  }

  .footer_nav ul {
    display: block;
  }

  .footer_nav li {
    margin: 0 0 10px;
  }

  .footer_nav span,
  .footer_nav a {
    font-size: 14px;
    padding: 0;
    line-height: 20px;
  }

  .footer-contacts_item {
    width: 100%;
  }

  .footer_content {
    padding: 18px 0 163px;
    position: relative;
  }

  .footer_content .wrapper {
    position: static;
  }

  .footer_carousel {
    border: none;
    height: auto;
    margin: 0 0 111px;
  }

  .footer_carousel .carousel-item {
    border: none;
    white-space: normal;
    font-size: 16px;
    padding: 0;
    line-height: 30px;
    background: none;
  }

  .footer_carousel .slick-list {
    height: auto;
  }

  .footer_carousel .slick-arrow {
    top: auto;
    bottom: -60px;
    background: #323744;
    left: 0;
    right: auto;
    border: 1px solid #4b5160;
    box-sizing: border-box;
    height: 40px;
  }

  .footer_carousel .slick-arrow:hover {
    background: #4b5160;
  }

  .footer_carousel .slick-next {
    left: 39px;
  }

  .footer-contacts_item {
    padding: 0 10px 0 2px;
  }

  .footer-contacts-item_big {
    margin: 0 0 13px;
    padding: 0;
  }

  .footer_left {
    position: absolute;
    bottom: 19px;
    left: 20px;
    right: 20px;
    width: auto;
  }

  .footer-logo {
    margin: 10px 0 9px 1px;
  }

  .footer_bottom a {
    font-size: 12px;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    opacity: .9;
    background-color: #1f1d19;
    display: none;
  }

  .overlay.open {
    display: block;
  }

  .catalog-nav {
    float: none;
    width: 100%;
    margin: 6px 0 19px 0;
  }

  .catalog {
    border: none;
    padding: 50px 0 0;
  }

  .catalog-nav_in {
    position: relative;
    z-index: 4;
  }

  .catalog-nav_in h5 {
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    padding: 0 0 14px;
    margin: 0;
  }

  .catalog-nav_in h5:after {
    content: '';
    position: absolute;
    right: 10px;
    top: 8px;
    background-image: url(../images/sprite.png);
    display: inline-block;
    background-position: -63px -42px;
    width: 10px;
    height: 6px;
  }

  .catalog-nav_in .show-more {
    display: none;
  }

  .catalog-nav_in .hide {
    display: block;
  }

  .catalog-nav_in ul {
    display: none;
    right: 0;
    top: 100%;
    background: #fff;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    position: absolute;
    left: 0;
    max-height: 300px;
    overflow: auto;
    border-bottom: 1px solid #eaeaea;
  }

  .catalog-nav_in a {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
  }

  .catalog-nav_in.open h5 {
    margin-bottom: -1px;
    border-bottom: 1px solid transparent;
  }

  .catalog-nav_in.open ul {
    display: block;
  }

  .catalog-nav_rubric {
    position: relative;
    z-index: 5;
    margin: 0 0 24px;
  }

  .catalog-nav_rubric h5 {
    position: relative;
    border: none;
  }

  .catalog-nav_rubric h5:after {
    content: '';
    position: absolute;
    right: 29px;
    top: 8px;
    background-image: url(../images/sprite.png);
    display: inline-block;
    background-position: -63px -42px;
    width: 10px;
    height: 6px;
  }

  .catalog-nav_rubric ul {
    max-height: 270px;
    overflow: auto;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    display: none;
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    margin-top: 1px;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-top: none;
  }

  .catalog-nav_rubric.open ul {
    display: block;
  }

  .catalog-nav_rubric a {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
  }

  .catalog-nav_rubric .drop-menu {
    position: static;
    border: none;
  }

  .catalog_in,
  .catalog-equipment,
  .catalog-item-engine-info {
    padding: 0;
  }

  .text-top,
  .text-bottom,
  .product-text {
    font-size: 14px;
  }

  .text-top td,
  .text-bottom td,
  .product-text td,
  .text-top th,
  .text-bottom th,
  .product-text th {
    padding: 17px 18px 15px;
    font-size: 14px;
  }

  .text-top table,
  .text-bottom table,
  .product-text table {
    display: block;
    width: 100%;
    overflow: auto;
  }

  .text-top tbody,
  .text-bottom tbody,
  .product-text tbody {
    display: block;
  }

  .text-top h3,
  .text-bottom h3,
  .product-text h3 {
    font-size: 18px;
    line-height: 30px;
    padding: 0 0 21px;
    margin: 30px 0 20px;
  }

  .catalog-item_top,
  .catalog-item-equipment_top {
    display: -ms-flexbox;
    display: flex;
    padding: 9px 19px 35px;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    margin: 0 0 1px;
  }

  .catalog-item_top .name,
  .catalog-item-equipment_top .name {
    line-height: 30px;
    padding: 0;
  }

  .catalog-item_top .cash,
  .catalog-item-equipment_top .cash {
    width: 100%;
    font-size: 12px;
    margin: 1px 0 20px 0;
  }

  .catalog-item_top .cash span,
  .catalog-item-equipment_top .cash span {
    font-size: 24px;
  }

  .catalog-item_top .download-link,
  .catalog-item-equipment_top .download-link {
    left: 18px;
  }

  .catalog-item-preview_big {
    float: none;
    height: 189px;
    margin: 0;
    width: 100%;
  }

  .catalog-item-preview_small {
    padding: 10px 0 0;
  }

  .catalog-item-preview_small .title {
    display: none;
  }

  .catalog-item-preview_small .preview {
    height: 90px;
  }

  .catalog-item {
    padding: 0;
    margin: 0 0 18px;
  }

  .product-info {
    padding: 50px 0 0;
  }

  .product-info .version-list {
    padding-bottom: 0;
  }

  .product-info .version-list h2 {
    margin: 0 -5px 31px 0;
  }

  .product-info .version-list_item {
    margin: 0 0 9px;
    padding: 0 20px 20px;
  }

  .product-info .version-list_item:last-child {
    margin-bottom: 0;
  }

  .product-info_in {
    margin: 0 0 11px;
  }

  .product-info_in .preview {
    width: 100%;
    float: none;
    height: 176px;
    margin: 28px 0 23px;
  }

  .product-info_right {
    padding: 0;
  }

  .product_in {
    padding: 15px 20px 0;
  }

  .product_in .cash {
    padding: 0 0 15px;
    margin: 0 0 15px;
  }

  .product_in .cash span {
    font-size: 24px;
  }

  .product_in .icon-question {
    margin: -6px 0 0 5px;
  }

  .product_in ul {
    margin: 0 0 25px;
  }

  .product_in ul span {
    width: 120px;
  }

  .product_in li {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 20px;
  }

  .product_in .btn {
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 10px 20px 10px 18px;
    line-height: 20px;
  }

  .product-in_wrap {
    padding: 0 0 19px;
  }

  .tablet-accordion.product-more-info {
    padding: 0 0 22px;
  }

  .tablet-accordion .tab-title {
    font-size: 14px;
    line-height: 22px;
  }

  .tablet-accordion .active .tab-title {
    background: #05a82e;
    color: #fff;
  }

  .tablet-accordion .active .tab-title span:before,
  .tablet-accordion .active .tab-title span:after {
    display: none;
  }

  .tablet-accordion .active .tab-title:before,
  .tablet-accordion .active .tab-title:after {
    display: none;
  }

  .tablet-accordion .product-more-info_item {
    margin: 19px 0 0;
  }

  .tablet-accordion .container-info_left {
    padding: 35px 0 0;
    margin: 0 -2px;
  }

  .product-more-info .column {
    width: 100%;
    padding: 0 !important;
  }

  .product-more-info-item_top {
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 8px;
  }

  .product-more-info-item_top img {
    width: 14px;
  }

  .product-more-info-item_top i {
    margin: 0 12px 0 0;
  }

  .product-more-info_item table {
    display: block;
    padding: 1px 0 0;
  }

  .product-more-info_item tbody {
    display: block;
    width: 100%;
  }

  .product-more-info_item td {
    border: none;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    line-height: 20px;
  }

  .product-more-info_item tr {
    padding: 15px 0 14px;
    display: block;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
  }

  .product-gallery {
    width: 100%;
    float: none;
  }

  .big-slider-product {
    margin: -8px 0 20px;
  }

  .big-slider-product .carousel-item {
    height: 177px;
  }

  .product-in_bottom {
    font-size: 16px;
    margin: 1px -20px 0;
    line-height: 20px;
    padding: 14px 25px;
  }

  .product-in_bottom i {
    margin: 6px auto 0;
  }

  .product-more-info {
    clear: both;
  }

  .container-info_preview {
    position: static !important;
    float: none;
    width: 100%;
  }

  .container-info_preview .preview {
    margin: 22px 0 0;
    position: static !important;
    float: none;
    width: 100% !important;
  }

  .container-info_preview .preview img {
    max-width: 59%;
  }

  h4 {
    font-size: 14px;
    margin: 0 0 10px;
    line-height: 30px;
  }

  .container-info_in {
    margin: 0 -9px;
  }

  .container-info_in .accordion-item {
    padding: 10px 30px 9px 19px;
  }

  .container-info_in .accordion-title {
    padding: 0 0 0 30px !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }

  .container-info_in .accordion-title .checkbox {
    margin: 4px 0 2px -30px;
    min-width: 100%;
  }

  .container-info_item .title {
    font-size: 16px;
    padding: 14px 19px 15px;
    line-height: 20px;
  }

  .img-list {
    margin: 0 -20px -18px 0;
  }

  .product-result {
    padding: 18px 0 20px;
  }

  .product-result .product-gallery {
    float: none;
    width: 100%;
  }

  .product-result .small-slider-product {
    width: 100%;
    margin: 0 auto 23px;
    display: block !important;
  }

  .product-result .big-slider-product {
    margin: 0 0 31px;
  }

  .product-result .big-slider-product .carousel-item {
    height: 158px;
  }

  .product-result_list {
    padding: 5px 0 7px;
  }

  .product-result_list h5 {
    margin: 0 0 16px;
  }

  .product-result_list .cash {
    margin: 15px 0 0;
  }

  .product-result_list .accordion-item h5 {
    margin: 0;
  }

  .product-result_list .checkbox-list {
    margin: 20px 0 22px 0;
  }

  .product-result_in {
    padding: 14px 19px 65px;
  }

  .product-result_in p {
    width: auto;
  }

  .product-result_in .btn {
    bottom: 15px;
    top: auto;
    display: block;
    float: none;
    width: 220px;
    left: 50%;
    margin-left: -110px;
  }

  .content-bottom_result .content-callback-contacts_tel {
    width: 100%;
  }

  .content-bottom_result .content-callback {
    overflow: visible;
  }

  .content-bottom_result .content-callback-form_in form,
  .content-bottom_result .callback-popup form {
    width: 100%;
  }

  .container-info_left h4 {
    font-size: 18px;
    line-height: 30px;
    padding: 0 0 21px;
    position: relative;
    margin: 0 0 20px;
  }

  .container-info_left h4:before,
  .container-info_left h4:after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    content: '';
  }

  .container-info_left h4:before {
    width: 60px;
    height: 2px;
    background-color: #019131;
    z-index: 2;
  }

  .container-info_left h4:after {
    height: 1px;
    width: 100%;
    background: #eaeaea;
  }

  .container-info_text {
    padding: 9px 18px;
  }

  .product-text .list-link li {
    margin: 0 0 20px -1px;
    float: none;
    min-width: 40%;
    display: inline-block;
    vertical-align: top;
  }

  .product-text .list-link a {
    display: inline;
  }

  .product-text blockquote {
    font-size: 14px;
    line-height: 30px;
    padding: 18px 25px 20px 24px;
  }

  .product-text .img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 10px 10px 10px 0;
  }

  .product-text .img img {
    position: static;
    max-width: 100%;
    max-height: 100%;
    transform: none;
  }

  .list-documentations,
  .text-top .list-documentations,
  .text-bottom .list-documentations,
  .product-text .list-documentations {
    margin: 31px 0 -22px;
  }

  .list-documentations li,
  .text-top .list-documentations li,
  .text-bottom .list-documentations li,
  .product-text .list-documentations li {
    width: 100%;
  }

  .list-preview a {
    width: 50%;
    margin-bottom: 20px;
  }

  .list-preview span {
    height: 90px;
  }

  .product-equipment .accordion-item {
    padding-right: 20px;
  }

  .catalog-nav-rubric_no-select {
    margin: 0 0 14px;
  }

  .catalog-nav-rubric_no-select ul {
    display: block;
    border: none;
    position: static;
    max-height: none;
  }

  .catalog-item_engine {
    width: 100%;
  }

  .catalog-item_engine {
    margin: 0 0 9px;
  }

  .catalog-item_engine .name {
    font-size: 18px;
    line-height: 30px;
  }

  .pagination .btn {
    display: none;
  }

  .catalog-item-engine {
    padding: 50px 0 0;
  }

  .preview-column {
    margin: 0 0 9px;
  }

  .preview-column a,
  .preview-column span {
    display: none;
    width: 100%;
    margin: 0 0 0;
  }

  .preview-column a:first-child,
  .preview-column span:first-child {
    display: block;
  }

  .catalog-item-engine-info_in td {
    display: block;
    border: none;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
  }

  .catalog-item-engine-info_in tr {
    display: block;
    border-bottom: 1px solid #eaeaea;
    padding: 15px 0 14px;
  }

  .catalog-item-equipment_top {
    padding: 9px 19px 10px;
  }

  .catalog-item-equipment_top .cash {
    margin: 10px 0 5px -5px;
  }

  .catalog-item-equipment_in {
    padding: 1px 10px 10px 19px;
  }

  .catalog-item-equipment_in .preview {
    float: none;
    height: auto;
    margin: 24px 0 10px;
    width: 100%;
    img {
      position: static;
      margin: 0 auto;
      transform: none;
    }
  }

  .catalog-item-equipment_in .text {
    font-size: 14px;
    line-height: 30px;
  }

  .version-big-list {
    padding: 50px 0 9px;
    border-bottom: none;
  }

  .version-big-item,
  .material-big-item {
    padding: 0 20px;
  }

  .version-big-item .preview,
  .material-big-item .preview {
    float: none;
    height: 147px;
    margin: 23px 0 0;
    display: block;
    width: 100%;
  }

  .version-big-item .name,
  .material-big-item .name {
    padding: 16px 0 21px;
    line-height: 30px;
    margin: 0 0 23px;
  }

  .version-big-item .name span,
  .material-big-item .name span {
    display: inline;
  }

  .version-big-item p,
  .material-big-item p {
    margin: 0 0 16px;
    font-size: 16px;
    line-height: 20px;
  }

  .version-big-item .list-link,
  .material-big-item .list-link {
    margin: 0 0 -8px;
  }

  .version-big-item .list-link li,
  .material-big-item .list-link li {
    margin: 0 40px 34px 0;
  }

  .container-info_left {
    padding: 0 10px 4px;
  }

  .container-info_text .list-link li {
    width: 40%;
  }

  .container-info_text .accordion {
    margin: -9px -18px;
  }

  .img-list a {
    width: 83px;
  }

  .material-big-item {
    padding: 0;
  }

  .material-big-item .name {
    padding: 19px 20px 0;
    margin: 0 0 20px;
    border: none;
    border-top: 1px solid #eaeaea;
  }

  .material-big-item p,
  .material-big-item .text {
    padding: 0 20px;
    font-size: 14px;
    line-height: 30px;
  }

  .material-big-item p {
    padding: 0;
    margin: 0 0 10px;
  }

  .material-big-item .preview {
    margin: 23px 0 8px;
  }

  .certificate-item {
    width: 241px !important;
    display: block !important;
  }

  .certificate-list {
    margin: 0 -20px -22px;
    padding: 0 0 0 20px;
  }

  .certificate-list .slick-list {
    padding: 10px 0 20px;
  }

  .product-more-info_bd {
    border: none;
  }

  .contacts-top {
    padding: 16px 0 28px 8px;
  }

  .contacts-top span {
    display: none;
  }

  .contacts-item span {
    width: auto;
    margin: -2px 0 0;
    position: static;
    display: block;
    line-height: 30px;
  }

  .contacts-item li {
    padding: 0 10px 0 0;
    margin: 0 0 8px;
  }

  .team-item .preview {
    box-sizing: border-box;
    float: none;
    margin: 0 0 10px;
    width: 100%;
  }

  .contacts-map {
    height: 200px;
    margin: -1px 0 50px;
  }

  .contacts-info {
    border-bottom: none;
    margin: -3px 0 -11px;
  }

  .contacts-info h3 {
    font-size: 18px;
    padding: 0 0 21px;
    margin: 22px 0 20px;
    line-height: 30px;
  }

  .team-item .preview {
    margin: 0 0 18px;
  }

  .team-info td:first-child {
    width: 74px;
    color: #333;
  }

  .country-table_top a {
    width: 55px !important;
  }

  .content_error {
    padding: 155px 20px 132px;
  }

  .content-error_in h1 {
    font-size: 30px;
    padding: 0 0 37px;
    line-height: 30px;
  }

  .content-error_in .btn {
    margin: 39px 0 0;
  }

  .img-carousel img {
    min-height: 200px;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .product-equipment .accordion-drop {
    padding-right: 0;
  }

  .product-text .accordion-drop {
    padding-right: 0;
  }

  .product-text .accordion-item {
    padding-right: 10px;
  }

  .callback-popup {
    width: 240px;
  }

  .fancybox-close {
    top: -35px;
    right: -35px;
  }

  .header-tel_in {
    padding-right: 0;
  }

  .header-tel_item {
    width: 100%;
  }

  .product-text .list-link {
    li {
      min-width: 1px;
      float: left;
      display: block;
    }
    a {
      display: block;
    }
  }

  .container-info_item {
    .img {
      width: 150px;
      margin: 0 auto 20px;
      float: none;
    }
  }

  .container-info_text .list-link a {
    display: inline !important;
  }

  .text-bottom,
  .text-top,
  .product-text {
    p {
      text-align: left !important;
    }
  }

  .masthead_left {
    .tab-menu {
      span {
        padding-left: 20px;
        padding-right: 20px;
      }

    }
  }

  .product-result_in .cash {
    float: none;
    span {
      font-size: 28px;
    }
  }

  .pluses-list + .content_bottom {
    padding-top: 9px;
  }

  .logo-info {
    .preview {
      float: none;
      display: block;
      width: 150px;
      margin: 0 auto 10px;
    }
  }

  .catalog-item_top {
    .name {
      .preview {
        display: none;
      }
    }
  }

  .catalog-item-engine-tab-menu {
    li {
      width: auto !important;
      margin: 0 30px 0 0;
      padding: 24px 0;
      &:first-child {
        margin: 0 30px 0 0;
      }
    }
    .active {
      border: none;
    }
    .slick-current li {
      border-bottom: 2px solid #08b42d !important;
      color: #333;
    }
  }

  .btn-up {
    display: none !important;
  }

  .masthead_left .tab-menu{
    height: auto;
  }
  .content-bottom-carousel_in{
    display: block;
  }

  .version-big-item-text{
    padding: 0;
  }

  .contacts-top a{
    font-size: 30px;
  }

  .version-big-item-text{
    .list-link{
      a{
        display: inline-block;
        vertical-align: top;
      }
      li{
        margin-right: 0;
        width: 50%;

        padding-right: 10px;
        box-sizing: border-box;
        &:after{
          top: 4px;
        }
      }
    }
  }

  .masthead_left {
    .tab-menu_in{
      overflow: visible;
      margin: 0;
    }
    .all{
      display: block;
      width: 100%;
      border-top: 1px solid #f3f3f3;
    }
  }

  .nav-menu_in{
    .btn{
      &:first-child{
        margin-left: 14px;
      }
    }
  }

  .add-file a{
    height: 40px;
    line-height: 19px;
    font-size: 14px;
  }
}

