a {
  font-size: 16px;
  line-height: 30px;
}

.title_h1,
h1 {
  font: bold 36px/1.25 "Roboto", sans-serif;
  color: #fff;
  overflow: hidden;
  text-transform: uppercase;
  margin: 0 0 29px;
}
.title_h2,
h2 {
  font: 500 30px/40px "Roboto", sans-serif;
  color: #333;
  text-transform: uppercase;
  position: relative;
  padding: 0 0 29px;
  margin: 0 0 41px;
  &:before,
  &:after {
    content: '';
    bottom: 0;
    left: 0;
    width: 60px;
    height: 2px;
    background: #029332;
    position: absolute;
  }
  &:before {
    width: 100%;
    height: 1px;
    background: #eaeaea;
  }
}

.title_h3,
h3 {
  font: 500 30px/40px "Roboto", sans-serif;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 19px;
}

.title_h4,
h4 {
  font: 500 22px/30px "Roboto", sans-serif;
  text-transform: uppercase;
  margin: 0 0 22px;
}
.title_h5,
h5 {
  font: 500 14px/20px "Roboto", sans-serif;
  margin: 0 0 14px;
  text-transform: uppercase;
}

li{
  position: relative;
  padding: 0 0 0 40px;
  margin: 0 0 10px;
  &:after{
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    display: inline-block;
    color: #019132;
    font-weight: 500;
    font-size: 12px;
  }
}

ul {
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-size: 16px;
  line-height: 30px;
  li{
    padding: 0 0 0 30px;
    &:after{
      background: #05a92d;
      width: 6px;
      height: 6px;
      left: 1px;
      top: 11px;
    }
  }
}

img {
  max-width: 100%;
  width: auto \9;
  height: auto;
  vertical-align: middle;
  border: 0;
}

p {
  margin: 0 0 30px;
  font-size: 16px;
  line-height: 30px;
}

ol {
  font-size: 16px;
  line-height: 30px;
  padding: 0;
  list-style: none;
  margin: 0 0 30px;
  counter-reset: li;
  li{
    counter-increment: li;
    &:after{
      content: "0" counter(li) ".";
    }
  }
}

table {
  margin: 40px 0 20px;
  width: 100%;
  td, th {
    font-size: 16px;
    line-height: 1.25;
    color: #333;
  }
  th{
    padding: 15px 30px;
    text-align: left;
    background: #e6f5e9;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 2px solid #06aa2e;
    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
  }
  td {
    padding: 14px 30px;
    border: 1px solid #e5e5e5;
  }
}


blockquote > *{
  padding: 0;
  margin: 0;
}
blockquote{
  padding: 20px 55px 20px 54px;
  font-size: 16px;
  line-height: 30px;
  background: #fff8ed;
  border-left: 4px solid #fda100;
  font-style: italic;
  margin: 0 0 30px;
}