/* login form */

.login
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -120px 0 0 -120px;
    width: 240px;
}

.login input{
    border: 1px solid #fff;
    width: 200px;
}

.login input:-ms-input-placeholder{
    color: #a9a9a9;
}

.cmsName
{
	font-size: 30px;
	font-family: 'PTSansBold', arial;
	text-align: center;
	margin-bottom: 19px;
}

.cmsName>span
{
	color: #de3328;
}

.login form
{
	background: #ccc;
	padding: 20px;
	float: left;
	border-radius: 6px;
}

.login form>div
{
	margin-bottom: 20px;
	position: relative;
}

.login form > div:first-child{
    margin-bottom: 10px;
}

.errorText
{
	position: absolute;
	top: 4px;
	left: 232px;
	color: #de3328;
	font-size: 14px;
	width: 250px;
	font-family: 'PTSans', arial;
}

.login button
{
	float: right;
	padding-right: 25px;
	padding-left: 25px;
	background: #0000ff;
}