.form-wrap {
    padding: 20px 30px;
}

.form-wrap .table.hidden{
    display: none;
}

.form-wrap .table + .table {
    margin-top: 10px;
}

.form-wrap .table > div:first-child {
    width: 25%;
    padding: 5px 5px 0 0;
}

.form-wrap .table > div + div {
    width: 75%;
}

.form-wrap .table-list,
.form-wrap .table-options{ }


.form-wrap .table-list th,
.form-wrap .table-options th {
    padding: 5px;
    height: 30px;
    border: 1px solid #ddd;
}

.form-wrap .table-list th.action,
.form-wrap .table-options th.action {
    padding-left: 0;
    padding-right: 0;
}

.form-wrap .table-list tr,
.form-wrap .table-options tr { }

.form-wrap .table-list td,
.form-wrap .table-options td {
    padding: 5px;
    height: 30px;
    border: 1px solid #ddd;
}

.form-wrap .table-list td.action,
.form-wrap .table-options td.action {
    padding-left: 0;
    padding-right: 0;
}

.form-wrap .table-list th a,
.form-wrap .table-list td a,
.form-wrap .table-options th a,
.form-wrap .table-options td a {
    display: block;
    padding: 5px;
    text-decoration: none;
}

.form-wrap fieldset {
    border: solid 1px #777777;
    padding: 17px 18px 10px;
    margin-bottom: 20px;
}

.form-wrap fieldset + fieldset{
    margin-top: 20px;
}

.form-wrap legend {
    font-size: 14px;
    font-family: 'PTSans', arial, sans-serif;
    padding: 0 10px;
}

.form-wrap fieldset .table:last-child {
    padding-bottom: 10px;
}

.form-wrap fieldset .table > div:first-child{
    width: 24%;
    padding-top: 5px;
}

.form-wrap fieldset .table > div{
    width: 76%;
}

.form-wrap input[type="text"],
.form-wrap input[type="password"],
.form-wrap textarea {
    width: 100%;
}

.form-wrap textarea.loading{
    background: url(../images/preloader-cms.gif) no-repeat center;
}

.form-wrap select{
    width: 100%;
    height: 32px;
}

.form-wrap select[size]{
    height: auto;
}

.form-bottom-controls {
    background: #efefef;
    padding: 20px 30px;
    text-align: right;
}

.form-bottom-controls li {
    margin-left: 10px;
    display: inline-block;
}

.form-bottom-controls li:first-child {
    margin-left: 0;
}

input.date[type=text]
{
    width: 170px;
    background: url( ../images/date.png ) 142px 7px no-repeat;
    cursor: pointer;
}

span.help {
    font-size: 11px;
    color: #666;
    display: block;
}

.select2-container .select2-choice{
    background: #fff;
}

.select2-container .select2-choice{
    height: 30px;
    line-height: 30px;
    border-color: #999;
}

.select2-offscreen{
    width: 0 !important;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices{
    border-color: #FFBA00;
    box-shadow: none;
}

.metrika-delegate-field {
    width: 250px !important;
    margin-right: 10px;
}

.metrika-delegate-hint {
    margin-top: -10px;
    font-style: italic;
}

.metrika-delegate-error {
    color: red;
    font-style: italic;
}

.section-toggle {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dashed;
}

.section-toggle:hover {
    border: none;
}