.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

html, body {
    height: 100%;
    min-height: 600px;
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 1120px;
    position: relative;
    font: 12px/20px arial;
    color: #333;
    background: url(../images/fabricPlaid.png) 0 50% repeat;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* input */

input[type=text],
input[type=password],
select,
textarea{
    padding: 6px 8px 7px;
    border-radius: 4px;
    color: #333;
    background: #fff;
    border: solid 1px #999;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: 12px arial;
}

input[type=text]:focus,
input[type=password]:focus,
select:focus,
textarea:focus{
    border: solid 1px #ffba00 !important;
}

input[type=text].error,
input[type=password].error,
select.error,
textarea.error{
    background: #ffe5e5;
    border: solid 1px #de3328;
    color: #de3328;
}

input[type=text].select2-input:focus {
    border: solid 1px transparent !important;
}

textarea {
    resize: none;
    line-height: 20px;
}

/* button */

button {
    border: 0;
    color: #fff;
    padding: 7px 15px 8px;
    background: -webkit-linear-gradient(#f1503f, #cc1712);
    background: -moz-linear-gradient(#f1503f, #cc1712);
    background: -ms-linear-gradient(#f1503f, #cc1712);
    background: -o-linear-gradient(#f1503f, #cc1712);
    background: linear-gradient(#f1503f, #cc1712);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#f1503f', endColorstr='#cc1712');
    position: relative;
}

button:hover {
    background: -webkit-linear-gradient(#f75a47, #c60e0b);
    background: -moz-linear-gradient(#f75a47, #c60e0b);
    background: -ms-linear-gradient(#f75a47, #c60e0b);
    background: -o-linear-gradient(#f75a47, #c60e0b);
    background: linear-gradient(#f75a47, #c60e0b);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#f75a47', endColorstr='#c60e0b');
    box-shadow: 0 1px 4px rgba(0, 0, 0, .44);
}

button:active {
    background: -webkit-linear-gradient(#f75a47, #c60e0b);
    background: -moz-linear-gradient(#f75a47, #c60e0b);
    background: -ms-linear-gradient(#f75a47, #c60e0b);
    background: -o-linear-gradient(#f75a47, #c60e0b);
    background: linear-gradient(#f75a47, #c60e0b);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#f75a47', endColorstr='#c60e0b');
    box-shadow: inset 0 2px 3px #9b0900;
}

button:focus {
    border: solid 1px #ffba00 !important;
    margin: -1px;
}

.mce-container button:hover {
    background: none;
    filter: none;
    box-shadow: none;
}

.mce-container button:active {
    background: none;
    filter: none;
    box-shadow: none;
}

.mce-container button:focus {
    border: none !important;
    margin: auto;
}

button.grey {
    background: -webkit-linear-gradient(#fafafa, #e1e1e1);
    background: -moz-linear-gradient(#fafafa, #e1e1e1);
    background: -ms-linear-gradient(#fafafa, #e1e1e1);
    background: -o-linear-gradient(#fafafa, #e1e1e1);
    background: linear-gradient(#fafafa, #e1e1e1);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#fafafa', endColorstr='#e1e1e1');
    border: solid 1px #bababa;
    color: #333333;
    padding:6px 15px 7px;
}
.qq-upload-button-hover button.grey,
button.grey:hover {
    background: -webkit-linear-gradient(#f8f8f8, #d1d1d1);
    background: -moz-linear-gradient(#f8f8f8, #d1d1d1);
    background: -ms-linear-gradient(#f8f8f8, #d1d1d1);
    background: -o-linear-gradient(#f8f8f8, #d1d1d1);
    background: linear-gradient(#f8f8f8, #d1d1d1);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#f8f8f8', endColorstr='#d1d1d1');
    box-shadow: none !important;
}

button.grey:active {
    background: -webkit-linear-gradient(#f7f7f7, #e4e4e4);
    background: -moz-linear-gradient(#f7f7f7, #e4e4e4);
    background: -ms-linear-gradient(#f7f7f7, #e4e4e4);
    background: -o-linear-gradient(#f7f7f7, #e4e4e4);
    background: linear-gradient(#f7f7f7, #e4e4e4);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#f7f7f7', endColorstr='#e4e4e4');
    box-shadow: inset 0 2px 3px #bbbbbb !important;
}

button.grey:focus {
    margin: 0;
}

/* link */

a {
    color: #0b8be6;
}

/* table emulate */

.table {
    width: 100%;
    display: table;
}

.table>div {
    display: table-cell;
    vertical-align: top;
}

.locked {
    overflow: hidden;
}

.ajaxLoading{
    position: relative;
}

.ajaxLoading:after{
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .8) url(../images/preloader-cms.gif) no-repeat center center;
    z-index: 100;
}

#passwd_form .ajaxLoading:after,
.pageSettings .ajaxLoading:after{
    background: rgba(255, 255, 255, .8) url(../images/preloader-cms_small.gif) no-repeat center center;
}

.checkbox input
{
    visibility: hidden;
    width: 15px !important;
    height: 15px !important;
}

.checkbox
{
    width: 15px !important;
    height: 15px !important;
    background: url( ../images/checkbox.png ) 0 -15px no-repeat;
    padding: 0 !important;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}

.checkbox.checked
{
    background: url( ../images/checkbox.png ) 0 0 no-repeat;
}

.radio input
{
    visibility: hidden;
    width: 16px !important;
    height: 16px !important;
}

.radio
{
    width: 16px !important;
    height: 16px !important;
    background: url( ../images/radio.png ) 0 -16px no-repeat;
    padding: 0 !important;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}

.radio.checked
{
    background: url( ../images/radio.png ) 0 0 no-repeat;
}

label .radio{
    vertical-align: top;
}

.msg-wrap{
    padding-top: 10px;
}

.msg-complete [class^="icon-"],
.msg-error [class^="icon-"]{
    margin-right: 5px;
}

.msg-complete,
.msg-complete [class^="icon-"]{
    display: inline-block;
    color: #40be41;
}

.msg-error,
.msg-error [class^="icon-"]{
    display: inline-block;
    color: #de3328;
}

.support-text{
    color: #bbb;
}

.treeMenu .ms-link{
    width: auto;
}

.mce-menu-item:hover,
.mce-menu-item.mce-selected,
.mce-menu-item:focus,
.select2-results .select2-highlighted{
    background: #333 !important;
}

.generalModulesWrap{
    padding: 15px 0;
    background: #fff;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.generalModulesWrap .tapeModuleWrap > button{
    margin-bottom: 10px;
}
.generalModulesWrap .tapeModuleWrap{
    padding: 0 15px;
}

h1, h2, h3, h4, h5{
    margin-top: 0;
}

.sortable-placeholder{
    background: #efefef;
}

.treeMenu .sortable-placeholder{
    background: none;
    border: 1px dashed #aaa;
    margin: -1px 0;
}

.errorTextInp{
    display: block;
    color: #de3328;
    font-size: 12px;
}

.radio-label {
    margin-right: 10px;
}

.radio-label > span {
    margin-right: 5px;
}