.modal-window-wrap{
    overflow: auto;
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.75);
    z-index: 500;
    text-align: center;
}

.modal-window-wrap:after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

.modal-window{
    width: 800px;
    margin: 15px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.modal-window-header{
    background: #de3328;
    color: #fff;
    font-family: 'PTSans', arial;
    font-size: 18px;
    padding: 10px 30px;
    position: relative;
}

.modal-window-close{
    display: block;
    position: absolute;
    font-size: 20px;
    padding: 15px;
    line-height: 10px;
    cursor: pointer;
    overflow: hidden;
    right: 10px;
    top: 50%;
    margin: -19px -10px 0 0;
}

.modal-window-body{
    background: #fff;
    position: relative;
}

.modal-window-body.loading{
    padding: 15px;
    height: 110px;
    background: #fff url(../images/preloader-cms.gif) no-repeat center center;
}