.module-controls-wrap {
    right: 0;
    cursor: pointer;
    display: none;
    top: 50%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    font-size: 14px;
}

.module-controls-menu:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    left: 50%;
    margin-left: -50%;
    height: 18px;
    top: -18px;
    z-index: 10;
}

.module-controls-wrap:hover .module-controls-menu {
    display: inline-block;
}

.module-controls-menu {
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -21px;
    background: #000;
    border-radius: 4px;
    z-index: 10;
    padding: 5px 0 4px;
    display: none;
    width: 42px;
}

.module-controls-menu:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: solid 11px #000;
    border-left: solid 11px transparent;
    border-right: solid 11px transparent;
    top: -10px;
    left: 21px;
    margin-left: -11px;
    z-index: 10;
}

.module-controls-menu.offset-left{
    left: auto;
    margin-left: auto;
    right: 50%;
    margin-right: -35px;
}

.module-controls-menu.offset-left:before{
    left: auto;
    margin-left: auto;
    right: 35px;
    margin-right: -11px;
}

.module-controls-menu.offset-top{
    top: auto;
    bottom: 0;
}

.module-controls-menu.offset-top:before{
    border-top: solid 11px #000;
    border-left: solid 11px transparent;
    border-right: solid 11px transparent;
    border-bottom:none;
    top: auto;
    bottom: -10px;
}

.module-controls-menu.offset-top:after{
    top: auto;
    bottom: -18px;
}

.module-controls-menu span {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 3px 0 2px 0 !important;
    white-space: nowrap;
    font-size: 12px;
    font-family: 'PTSans', arial, serif;
    position: relative;
    margin: 0;
    text-align: left;
    height: 20px;
}

.module-controls-menu span:hover {
    /*background: #444;*/
}

.module-controls-menu span:hover [class^="icon-"]{
    color: #fff;
}

.module-controls-menu span [class^="icon-"] {
    top: 3px;
    left: 11px;
    width: 20px;
    text-align: center;
    font-size: 14px;
    position: absolute;
}