.scrollableTable{
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 15px 15px;
}

.scrollableTable thead{
    top: 0;
    z-index: 11;
}

.scrollableTable col{
    width: 100%;
}

.scrollableTable .emptyThead{
    visibility: hidden;
}