.tabs
{
    height: 40px;
    background: #292929;
    white-space: nowrap;
    position: absolute;
    top: 80px;
}

.tabs li
{
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-family: 'PTSans', arial;
    font-size: 14px;
    padding: 10px 15px;
    cursor: pointer;
}

.tabs li:hover
{
    background: #414141;
}

.tabs li.active
{
    background: #333;
    cursor: default;
    border-width: 3px 0 0 0 !important;
    border-top: 3px solid #de3328 !important;
    margin-top: -3px;
    padding:10px 15px !important;
}

.tabBlock
{
    position: relative;
    display: none;
}

.tabBlock.active{
    display: block;
}

.tabs li [class^="icon-"]
{
    color: #fff !important;
}

.tabs li.support{
    width: 17px;
}

.tabContainer,
.tabContainer .tabBlock{
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.not-root li.tab-pages,
.not-root li.tab-modules{
    padding:10px 29px !important;
}

.not-root li.support{
    width: 18px;
}