.treeMenu {

}

.treeMenu > ul > li {
    font-size: 18px;
    margin-bottom: 21px;
}

.treeMenu li > span {
    position: relative;
    display: block;
    padding-right: 35px;
}

.treeMenu a,
.treeMenu li > span {
    line-height: 18px;
}

.treeMenu > ul > li > span {
    display: block;
    font-family: 'PTSans', arial, serif;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 1px;
    cursor: default;
}

.treeMenu .draggin li > span:hover {
    background: none;
}

.treeMenu li.active > a {

}

.treeMenu [class^="icon-"] {
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    top: 5px;
    left: 6px;
}


.treeMenu li .active > [class^="icon-"],
.treeMenu li .active > a > [class^="icon-"],
.treeMenu li .module-controls-wrap:hover {

}

.treeMenu .move-handler{
    display: none;
    cursor: move;
}

.treeMenu span:hover  > .module-controls-wrap,
.treeMenu span:hover  > .move-handler
{
    display: block;
}

.treeMenu span:active{}

.treeMenu .module-controls-wrap{
    left: auto;
    right: 10px;
    display: none;
}

.treeMenu li [class^="icon-sort-"]{
    margin: 1px 6px 0 -25px;
    left: 0;
    top: 0;
    font-size: 15px;
    position: relative;
    vertical-align: top;
    line-height: 1.5;
}

.treeMenu [class^="icon-sort-"]:hover {

}

.treeMenu a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    outline: none;
}

.treeMenu > ul > li > ul a {
    padding: 7px 0 5px 0;
}

.treeMenu > ul > li > ul > li a {
    font-size: 12px;
    margin-bottom: 1px;
}

.treeMenu > ul > li > ul > li a:active {
    background: none;
}

.treeMenu a > span{
    margin-right: 30px;
    position: relative;
    display: block;
    cursor: pointer;
}

.treeMenu .icon-sort-up,
.treeMenu .icon-sort-down {
    cursor: pointer;
}

.treeMenu span.active{

}

.treeMenu ul ul ul {
    display: none;
}

.treeMenu ul ul ul.visible {
    display: block;
}

.treeMenu li.open > ul {
    display: block;
}

.treeMenu ul ul > li:first-child > span .move-up,
.treeMenu > ul > li > span > i .move-up{
    display: none;
}

.treeMenu ul ul > li:last-child > span .move-down,
.treeMenu > ul > li > span > i .move-down {
    display: none;
}

.treeMenu .invisible > a {
    text-decoration: line-through;
}

.treeMenu li [class^="icon-sort-"]:before {
    color: transparent;
}

.treeMenu  li [class^="icon-sort-"] > span {
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-bottom: solid 0 transparent;
    border-top: solid 5px #bbb;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    left: 4px;
    top: 12px;
}

#articles .treeMenu li [class^="icon-sort-"]:hover > span {
    border-top: solid 5px #333 !important;
}

.treeMenu  li [class^="icon-sort-"]:hover > span {
    border-top: solid 5px #fff;
}

.treeMenu  li span.active [class^="icon-sort-"] > span {
    border-top: solid 5px #fff;
}

.treeMenu  li [class^="icon-sort-up"] > span {
    -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -ms-transform:rotate(-180deg);
    transform:rotate(-180deg);
}

.treeMenu  li .icon-cog:before
{
    position: absolute;
    right: 3px;
}